<li><a href="http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/">ARM running Linux talking easily with a Xilinx FPGA</a>: http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/</li>
<li><a href="http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/">Interrupt definitions in DTS (device tree) files for Xilinx Zynq-7000 / ARM</a>: http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313">BootGen adding extra bytes and u-boot Zynq PL FPGA... - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313</li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/">http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/</a></li>
<li><a href="http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq?version=11">http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq?version=11</a></li>
<li><a href="http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq">Zynq - GNU Radio - gnuradio.org</a>: http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq</li>
<li><a href="https://github.com/balister/meta-zynq/wiki/Getting-started">https://github.com/balister/meta-zynq/wiki/Getting-started</a></li>
<li><a href="https://github.com/culurciello/zynq_linux_drivers_elab">https://github.com/culurciello/zynq_linux_drivers_elab</a></li>
<li><a href="https://github.com/milosoftware/meta-zynq">https://github.com/milosoftware/meta-zynq</a></li>
<li><a href="https://github.com/zynqgeek">https://github.com/zynqgeek</a></li>
<li><a href="https://github.com/zynqgeek/simple_custom_peripheral_bare_metal">https://github.com/zynqgeek/simple_custom_peripheral_bare_metal</a></li>
<li><a href="http://svenand.blogdrive.com/archive/179.html">Zynq design from scratch. Part 20. « New Horizons Zynq Blog</a>: http://svenand.blogdrive.com/archive/179.html</li>
<li><a href="http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc">How a MicroBlaze Can Peaceably Coexist with the Xilinx Zynq SoC » DesignSpark</a>: http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc</li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">http://www.wiki.xilinx.com/Zynq+Linux</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA">http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA">http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver">http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver">http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">Xilinx Wiki - Zynq Linux</a>: http://www.wiki.xilinx.com/Zynq+Linux</li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/</a></li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm">http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm">Xilinx® Training : How to Build a Linux Boot Image for the Zynq-7000 AP SoC</a>: http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm</li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm">http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm</a></li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-linux">Zynq Linux - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-linux</li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-qemu">QEMU on Zynq - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-qemu</li>
<li><a href="http://zedboard.org/sites/default/files/blogger_importer/03/compiling-qemu-and-zynq-linux.html">Zynq Geek: Compiling qemu and zynq-linux</a>: http://zedboard.org/sites/default/files/blogger_importer/03/compiling-qemu-and-zynq-linux.html</li>
<li><a href="http://zedboard.org/sites/default/files/blogger_importer/03/qemu.html">Zynq Geek: QEMU</a>: http://zedboard.org/sites/default/files/blogger_importer/03/qemu.html</li>
