<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html</a></li>
<li><a href="http://pointclouds.org/documentation/">http://pointclouds.org/documentation/</a></li>
<li><a href="http://pointclouds.org/documentation/tutorial">http://pointclouds.org/documentation/tutorial</a></li>
<li><a href="https://github.com/PointCloudLibrary/pcl/wiki">https://github.com/PointCloudLibrary/pcl/wiki</a></li>
