<li><a href="http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293">Freescale OpenEmbedded/Yocto Layers discussion list ()</a>: http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293</li>
<li><a href="http://docs.openembedded.org/bitbake/html/">BitBake User Manual</a>: http://docs.openembedded.org/bitbake/html/</li>
<li><a href="http://layers.openembedded.org/layerindex/branch/master/layers/">http://layers.openembedded.org/layerindex/branch/master/layers/</a></li>
<li><a href="http://layers.openembedded.org/layerindex/branch/master/layers/">OpenEmbedded metadata index - layers</a>: http://layers.openembedded.org/layerindex/branch/master/layers/</li>
<li><a href="http://maniacbug.wordpress.com/2012/08/03/yocto/">Getting Started with OpenEmbedded using Yocto | maniacbug</a>: http://maniacbug.wordpress.com/2012/08/03/yocto/</li>
<li><a href="https://github.com/openembedded/oe-core/blob/master/meta/conf/local.conf.sample">oe-core/meta/conf/local.conf.sample at master · openembedded/oe-core · GitHub</a>: https://github.com/openembedded/oe-core/blob/master/meta/conf/local.conf.sample</li>
<li><a href="https://github.com/openembedded/oe-core/blob/master/scripts/runqemu.README">oe-core/scripts/runqemu.README at master · openembedded/oe-core · GitHub</a>: https://github.com/openembedded/oe-core/blob/master/scripts/runqemu.README</li>
<li><a href="https://wiki.linaro.org/KenWerner/Sandbox/OpenEmbedded-Core">KenWerner/Sandbox/OpenEmbedded-Core - Linaro Wiki</a>: https://wiki.linaro.org/KenWerner/Sandbox/OpenEmbedded-Core</li>
<li><a href="http://www.kernel-labs.org/files/openembedded-guide/openembedded-guide-6.html">OpenEmbedded Guide by Example : The local overlay</a>: http://www.kernel-labs.org/files/openembedded-guide/openembedded-guide-6.html</li>
<li><a href="http://www.openembedded.org/wiki/Adding_a_secondary_toolchain">Adding a secondary toolchain - Openembedded.org</a>: http://www.openembedded.org/wiki/Adding_a_secondary_toolchain</li>
<li><a href="http://www.openembedded.org/wiki/Category_talk:FAQ">Category talk:FAQ - Openembedded.org</a>: http://www.openembedded.org/wiki/Category_talk:FAQ</li>
<li><a href="http://www.openembedded.org/wiki/Creating_a_new_Layer">http://www.openembedded.org/wiki/Creating_a_new_Layer</a></li>
<li><a href="http://www.openembedded.org/wiki/Devshell">Devshell - Openembedded.org</a>: http://www.openembedded.org/wiki/Devshell</li>
<li><a href="http://www.openembedded.org/wiki/Kernel_Building">Kernel Building - Openembedded.org</a>: http://www.openembedded.org/wiki/Kernel_Building</li>
<li><a href="http://www.openembedded.org/wiki/List_of_Executable_tasks">List of Executable tasks - Openembedded.org</a>: http://www.openembedded.org/wiki/List_of_Executable_tasks</li>
<li><a href="http://www.openembedded.org/wiki/MultipleRepositoryMethods">http://www.openembedded.org/wiki/MultipleRepositoryMethods</a></li>
<li><a href="http://www.openembedded.org/wiki/OE-Core_Standalone_Setup">OE-Core Standalone Setup - Openembedded.org</a>: http://www.openembedded.org/wiki/OE-Core_Standalone_Setup</li>
<li><a href="http://www.openembedded.org/wiki/OpenEmbedded-Core">OpenEmbedded-Core - Openembedded.org</a>: http://www.openembedded.org/wiki/OpenEmbedded-Core</li>
