<li><a href="http://avnetexpress.avnet.com/content/adx/documents/en_us/GSC-AES-ZBDB-ADPT-G-V1.pdf">http://avnetexpress.avnet.com/content/adx/documents/en_us/GSC-AES-ZBDB-ADPT-G-V1.pdf</a></li>
<li><a href="http://bill.station51.net/index.php?post/2010/01/30/HOWTO:-Booting-from-SD-card-using-U-Boot">HOWTO: Booting from SD card using U-Boot - Bill's Blog</a>: http://bill.station51.net/index.php?post/2010/01/30/HOWTO:-Booting-from-SD-card-using-U-Boot</li>
<li><a href="http://coherentmusings.wordpress.com/2012/12/22/device-node-creation-without-using-mknod/">http://coherentmusings.wordpress.com/2012/12/22/device-node-creation-without-using-mknod/</a></li>
<li><a href="http://coherentmusings.wordpress.com/2013/12/13/how-to-write-a-platform-devicedriver-adc-driver-using-wm97xx-codec/">http://coherentmusings.wordpress.com/2013/12/13/how-to-write-a-platform-devicedriver-adc-driver-using-wm97xx-codec/</a></li>
<li><a href="http://comments.gmane.org/gmane.linux.linaro.devel/16551">Linaro ARM Linux Development ()</a>: http://comments.gmane.org/gmane.linux.linaro.devel/16551</li>
<li><a href="http://development.syllable.org/documentation/drivers/introduction/part-1.html">http://development.syllable.org/documentation/drivers/introduction/part-1.html</a></li>
<li><a href="http://en.wikipedia.org/wiki/Grayscale">Grayscale - Wikipedia, the free encyclopedia</a>: http://en.wikipedia.org/wiki/Grayscale</li>
<li><a href="http://en.wikipedia.org/wiki/USB_video_device_class">USB video device class - Wikipedia, the free encyclopedia</a>: http://en.wikipedia.org/wiki/USB_video_device_class</li>
<li><a href="http://events.linuxfoundation.org/events/embedded-linux-conference-europe">http://events.linuxfoundation.org/events/embedded-linux-conference-europe</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-one/">http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-one/</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-two/">http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-two/</a></li>
<li><a href="http://git.linuxtv.org/media_tree.git/blob/HEAD:/drivers/media/platform/vivi.c">http://git.linuxtv.org/media_tree.git/blob/HEAD:/drivers/media/platform/vivi.c</a></li>
<li><a href="http://git-scm.com/book/en/Git-Tools-Submodules">Git - Submodules</a>: http://git-scm.com/book/en/Git-Tools-Submodules</li>
<li><a href="http://hambedded.org/blog/2012/11/24/from-bitbake-hello-world-to-an-image/">From Bitbake Hello World To an Image - Hambedded Linux</a>: http://hambedded.org/blog/2012/11/24/from-bitbake-hello-world-to-an-image/</li>
<li><a href="http://linuxaria.com/article/how-to-make-dmesg-timestamp-human-readable?lang=en">http://linuxaria.com/article/how-to-make-dmesg-timestamp-human-readable?lang=en</a></li>
<li><a href="http://linuxtutorial.info/modules.php?name=MContent&pageid=94">http://linuxtutorial.info/modules.php?name=MContent&pageid=94</a></li>
<li><a href="http://linuxtv.org/downloads/v4l-dvb-apis/vidioc-querycap.html#v4l2-capability">http://linuxtv.org/downloads/v4l-dvb-apis/vidioc-querycap.html#v4l2-capability</a></li>
<li><a href="http://lists.infradead.org/pipermail/linux-arm-kernel/2011-April/047966.html">http://lists.infradead.org/pipermail/linux-arm-kernel/2011-April/047966.html</a></li>
<li><a href="http://lwn.net/Articles/206765/">http://lwn.net/Articles/206765/</a></li>
<li><a href="http://lwn.net/Articles/448499/">http://lwn.net/Articles/448499/</a></li>
<li><a href="http://lwn.net/Articles/448502/">http://lwn.net/Articles/448502/</a></li>
<li><a href="http://lxr.free-electrons.com/ident?i=register_device">http://lxr.free-electrons.com/ident?i=register_device</a></li>
<li><a href="http://lxr.free-electrons.com/source/drivers/base/platform.c">http://lxr.free-electrons.com/source/drivers/base/platform.c</a></li>
<li><a href="http://lxr.free-electrons.com/source/include/media/v4l2-common.h">http://lxr.free-electrons.com/source/include/media/v4l2-common.h</a></li>
<li><a href="http://mesasrv03/DokuWiki/doku.php?id=2013-10-16">Meeting Notes - 2013-10-16</a></li>
<li><a href="http://plugable.com/2011/12/23/usb-graphics-and-linux">Howto: DisplayLink USB Single Monitor on Linux | Plugable</a>: http://plugable.com/2011/12/23/usb-graphics-and-linux</li>
<li><a href="http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot">Booting Linux kernel using U-Boot - Texas Instruments Wiki</a>: http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot</li>
<li><a href="http://qce-ga.sourceforge.net/">qc-usb: Linux Driver for Quickcam USB cameras</a>: http://qce-ga.sourceforge.net/</li>
<li><a href="https://community.freescale.com/thread/265171">https://community.freescale.com/thread/265171</a></li>
<li><a href="https://community.freescale.com/thread/304415">https://community.freescale.com/thread/304415</a></li>
<li><a href="https://community.freescale.com/thread/311974">https://community.freescale.com/thread/311974</a></li>
<li><a href="https://community.freescale.com/thread/312305">https://community.freescale.com/thread/312305</a></li>
<li><a href="https://git.wiki.kernel.org/index.php/GitSubmoduleTutorial">GitSubmoduleTutorial - Git SCM Wiki</a>: https://git.wiki.kernel.org/index.php/GitSubmoduleTutorial</li>
<li><a href="http://shakithweblog.blogspot.ch/2012/12/getting-sobel-filter-application.html">http://shakithweblog.blogspot.ch/2012/12/getting-sobel-filter-application.html</a></li>
<li><a href="http://shakithweblog.blogspot.nl/2012/12/getting-sobel-filter-application.html">http://shakithweblog.blogspot.nl/2012/12/getting-sobel-filter-application.html</a></li>
<li><a href="https://lwn.net/Articles/203924/">https://lwn.net/Articles/203924/</a></li>
<li><a href="http://sourceforge.net/projects/unvedu/">UNVedu | Free software downloads at SourceForge.net</a>: http://sourceforge.net/projects/unvedu/</li>
<li><a href="https://sourceware.org/gdb/onlinedocs/gdb/Backtrace.html">Backtrace - Debugging with GDB</a>: https://sourceware.org/gdb/onlinedocs/gdb/Backtrace.html</li>
<li><a href="http://stackoverflow.com/questions/768999/what-is-a-good-lossless-video-codec">compression - What is a good lossless video codec? - Stack Overflow</a>: http://stackoverflow.com/questions/768999/what-is-a-good-lossless-video-codec</li>
<li><a href="http://support.spinetix.com/wiki/SDP_file">http://support.spinetix.com/wiki/SDP_file</a></li>
<li><a href="https://wiki.archlinux.org/index.php/codecs">Codecs - ArchWiki</a>: https://wiki.archlinux.org/index.php/codecs</li>
<li><a href="https://wiki.archlinux.org/index.php/Webcam_Setup">Webcam Setup - ArchWiki</a>: https://wiki.archlinux.org/index.php/Webcam_Setup</li>
<li><a href="https://wiki.debian.org/HowToGetABacktrace">HowToGetABacktrace - Debian Wiki</a>: https://wiki.debian.org/HowToGetABacktrace</li>
<li><a href="https://wiki.gentoo.org/wiki/EclipseSDK">EclipseSDK - Gentoo Wiki</a>: https://wiki.gentoo.org/wiki/EclipseSDK</li>
<li><a href="https://wiki.gentoo.org/wiki/Layman">Layman - Gentoo Wiki</a>: https://wiki.gentoo.org/wiki/Layman</li>
<li><a href="https://wiki.videolan.org/Documentation:Streaming_HowTo_New/">https://wiki.videolan.org/Documentation:Streaming_HowTo_New/</a></li>
<li><a href="https://www.kernel.org/doc/Documentation/driver-model/platform.txt">https://www.kernel.org/doc/Documentation/driver-model/platform.txt</a></li>
<li><a href="http://talk.maemo.org/showthread.php?t=26288">http://talk.maemo.org/showthread.php?t=26288</a></li>
<li><a href="http://tools.ietf.org/html/rfc2435">http://tools.ietf.org/html/rfc2435</a></li>
<li><a href="http://tools.ietf.org/html/rfc2508">http://tools.ietf.org/html/rfc2508</a></li>
<li><a href="http://v4l.videotechnology.com/vivi.html">http://v4l.videotechnology.com/vivi.html</a></li>
<li><a href="http://web.njit.edu/~kevin/rgb.txt.html">RGB to Color Name Mapping(Triplet and Hex)</a>: http://web.njit.edu/~kevin/rgb.txt.html</li>
<li><a href="http://wiki.analog.com/resources/tools-software/linux-drivers/iio-adc/axi-adc-hdl">http://wiki.analog.com/resources/tools-software/linux-drivers/iio-adc/axi-adc-hdl</a></li>
<li><a href="http://wiki.maemo.org/Streaming_video_from_built-in_webcam">http://wiki.maemo.org/Streaming_video_from_built-in_webcam</a></li>
<li><a href="http://wiki.openwrt.org/doc/techref/bootloader/uboot.config">Das U-Boot Environment - OpenWrt Wiki</a>: http://wiki.openwrt.org/doc/techref/bootloader/uboot.config</li>
<li><a href="http://wikipedia.org/wiki/Real-time_Transport_Protocol">http://wikipedia.org/wiki/Real-time_Transport_Protocol</a></li>
<li><a href="http://wikipedia.org/wiki/Real-Time_Transport_Protocol">http://wikipedia.org/wiki/Real-Time_Transport_Protocol</a></li>
<li><a href="http://wiki.qemu.org/download/qemu-doc.html">QEMU Emulator User Documentation</a>: http://wiki.qemu.org/download/qemu-doc.html</li>
<li><a href="http://wiki.ubuntuusers.de/Videograbbing">Videograbbing › Wiki › ubuntuusers.de - video with sound</a>: http://wiki.ubuntuusers.de/Videograbbing</li>
<li><a href="http://wiki.ubuntuusers.de/Webcam">Webcam › Wiki › ubuntuusers.de</a>: http://wiki.ubuntuusers.de/Webcam</li>
<li><a href="http://ww2.cs.fsu.edu/~rosentha/linux/2.6.26.5/docs/DocBook/kernel-api/ch15.html">http://ww2.cs.fsu.edu/~rosentha/linux/2.6.26.5/docs/DocBook/kernel-api/ch15.html</a></li>
<li><a href="http://www.cisco.com/c/en/us/solutions/collateral/service-provider/carrier-ethernet/white_paper_c22-636808.html">http://www.cisco.com/c/en/us/solutions/collateral/service-provider/carrier-ethernet/white_paper_c22-636808.html</a></li>
<li><a href="http://www.crashcourse.ca/wiki/index.php/BitBake_Tutorial">BitBake Tutorial - Crashcourse Wiki</a>: http://www.crashcourse.ca/wiki/index.php/BitBake_Tutorial</li>
<li><a href="http://www.crashcourse.ca/wiki/index.php/OE-Core">OE-Core - Crashcourse Wiki</a>: http://www.crashcourse.ca/wiki/index.php/OE-Core</li>
<li><a href="http://www.embeddedlinuxconference.com/">http://www.embeddedlinuxconference.com/</a></li>
<li><a href="http://www.embedded-vision.com/what-is-embedded-vision">What is Embedded Vision? | www.embedded-vision.com</a>: http://www.embedded-vision.com/what-is-embedded-vision</li>
<li><a href="http://www.emcraft.com/som/vf6/booting-rootfs-on-sd">Booting Linux with rootfs on SD Card</a>: http://www.emcraft.com/som/vf6/booting-rootfs-on-sd</li>
<li><a href="http://www.faqs.org/rfcs/rfc5371.html">http://www.faqs.org/rfcs/rfc5371.html</a></li>
<li><a href="http://www.flumotion.org/about/">About Flumotion</a>: http://www.flumotion.org/about/</li>
<li><a href="http://www.freesoft.org/CIE/RFC/1890/29.htm">http://www.freesoft.org/CIE/RFC/1890/29.htm</a></li>
<li><a href="http://www.freesoftwaremagazine.com/articles/drivers_linux">http://www.freesoftwaremagazine.com/articles/drivers_linux</a></li>
<li><a href="http://www.geeksww.com/tutorials/operating_systems/linux/tips_and_tricks/some_tricks_used_by_the_linux_kernel.php">http://www.geeksww.com/tutorials/operating_systems/linux/tips_and_tricks/some_tricks_used_by_the_linux_kernel.php</a></li>
<li><a href="http://www.gentoo.org/proj/en/overlays/userguide.xml">Gentoo Linux Documentation -- Gentoo Overlays: Users' Guide</a>: http://www.gentoo.org/proj/en/overlays/userguide.xml</li>
<li><a href="http://www.gnugeneration.com/books/linux/2.6.20/kernel-api/re736.html">http://www.gnugeneration.com/books/linux/2.6.20/kernel-api/re736.html</a></li>
<li><a href="http://www.gossamer-threads.com/lists/linux/kernel/1365506">http://www.gossamer-threads.com/lists/linux/kernel/1365506</a></li>
<li><a href="http://www.ideasonboard.org/uvc/">Linux UVC driver & tools</a>: http://www.ideasonboard.org/uvc/</li>
<li><a href="http://www.linuxtopia.org/online_books/linux_kernel/kernel_configuration/ch09s07.html">http://www.linuxtopia.org/online_books/linux_kernel/kernel_configuration/ch09s07.html</a></li>
<li><a href="http://www.linuxtv.org/wiki/index.php/V4L_Test_Suite">http://www.linuxtv.org/wiki/index.php/V4L_Test_Suite</a></li>
<li><a href="http://www.linuxtv.org/wiki/index.php/VIVI">http://www.linuxtv.org/wiki/index.php/VIVI</a></li>
<li><a href="http://www.live555.com/liveMedia/">LIVE555 Streaming Media</a>: http://www.live555.com/liveMedia/</li>
<li><a href="http://www.live555.com/mediaServer/">The LIVE555 Media Server</a>: http://www.live555.com/mediaServer/</li>
<li><a href="http://www.live555.com/vobStreamer/">vobStreamer - a network DVD player application</a>: http://www.live555.com/vobStreamer/</li>
<li><a href="http://www.microsoft.com/windows/windowsmedia/howto/articles/codecs.aspx">http://www.microsoft.com/windows/windowsmedia/howto/articles/codecs.aspx</a></li>
<li><a href="http://www.opengl.org/documentation/specs/glut/spec3/node4.html">OpenGL - 1.2 Design Philosophy</a>: http://www.opengl.org/documentation/specs/glut/spec3/node4.html</li>
<li><a href="http://www.opensourceforu.com/2011/04/character-device-files-creation-operations/">http://www.opensourceforu.com/2011/04/character-device-files-creation-operations/</a></li>
<li><a href="http://www.opensourceforu.com/2011/06/generic-hardware-access-in-linux/">http://www.opensourceforu.com/2011/06/generic-hardware-access-in-linux/</a></li>
<li><a href="http://www.opensourceforu.com/tag/linux-device-drivers-series/">http://www.opensourceforu.com/tag/linux-device-drivers-series/</a></li>
<li><a href="http://www.phoronix.com/scan.php?page=news_item&px=MTI1MDc">http://www.phoronix.com/scan.php?page=news_item&px=MTI1MDc</a></li>
<li><a href="http://www.randomexploits.com/projects/sheevaplug/sd-boot.htm">RandomExploits - booting from sdcard</a>: http://www.randomexploits.com/projects/sheevaplug/sd-boot.htm</li>
<li><a href="http://www.raspberrypi.org/forums/viewtopic.php?t=49278&p=462761">http://www.raspberrypi.org/forums/viewtopic.php?t=49278&p=462761</a></li>
<li><a href="http://www.rtmpd.com/">Home » C++ RTMP Server</a>: http://www.rtmpd.com/</li>
<li><a href="http://www.stlinux.com/u-boot/kernel-booting">Booting The Linux Kernel | STLinux</a>: http://www.stlinux.com/u-boot/kernel-booting</li>
<li><a href="http://www.thedirks.org/v4l2/v4l2fmt.htm">V4L2 Video Image Format Specification</a>: http://www.thedirks.org/v4l2/v4l2fmt.htm</li>
<li><a href="http://www.videolan.org/doc/streaming-howto/en/ch02.html">http://www.videolan.org/doc/streaming-howto/en/ch02.html</a></li>
<li><a href="http://www.videotechnology.com/">http://www.videotechnology.com/</a></li>
<li><a href="http://www.xiph.org/">http://www.xiph.org/</a></li>
<li><a href="http://xillybus.com/tutorials">Tutorials | xillybus.com</a>: http://xillybus.com/tutorials</li>
