<li><a href="http://cgit.freedesktop.org/gstreamer/gst-rtsp-server/tree/docs/README">http://cgit.freedesktop.org/gstreamer/gst-rtsp-server/tree/docs/README</a></li>
<li><a href="http://e2e.ti.com/support/embedded/linux/f/354/t/39507.aspx">TIViddec2 with rtpmp4vdepay - Linux forum - Linux - TI E2E Community</a>: http://e2e.ti.com/support/embedded/linux/f/354/t/39507.aspx</li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756">RTP and RTSP streaming with FFmpeg • FFmpeg Support Forum</a>: http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756</li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-plugin-rtsp.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-plugin-rtsp.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtpdec.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtpdec.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html</a></li>
<li><a href="http://lists.freedesktop.org/archives/gstreamer-devel/2011-April/031237.html">Help with Gstreamer and RTSP with Axis Camera</a>: http://lists.freedesktop.org/archives/gstreamer-devel/2011-April/031237.html</li>
<li><a href="http://rtpstream.com/links.shtml">RTP / RTSP Streaming Forum: Links</a>: http://rtpstream.com/links.shtml</li>
<li><a href="https://developer.gnome.org/gst-plugins-libs/0.11/gst-plugins-good-plugins-rtspsrc.html">https://developer.gnome.org/gst-plugins-libs/0.11/gst-plugins-good-plugins-rtspsrc.html</a></li>
<li><a href="https://developer.ridgerun.com/wiki/index.php/RidgeRun_RTSP_GStreamer_Server">RidgeRun RTSP GStreamer Server - RidgeRun Developer Connection</a>: https://developer.ridgerun.com/wiki/index.php/RidgeRun_RTSP_GStreamer_Server</li>
<li><a href="http://serverfault.com/questions/317472/open-source-rtsp-streaming-server">linux - Open source RTSP streaming server - Server Fault</a>: http://serverfault.com/questions/317472/open-source-rtsp-streaming-server</li>
<li><a href="https://forum.videolan.org/viewtopic.php?f=13&t=71920">The VideoLAN Forums • View topic - VLC RTSP stream to internet</a>: https://forum.videolan.org/viewtopic.php?f=13&t=71920</li>
<li><a href="https://forum.videolan.org/viewtopic.php?f=4&t=108238">The VideoLAN Forums • View topic - Streaming Multiple Files Over RTSP Using Multiple Instances</a>: https://forum.videolan.org/viewtopic.php?f=4&t=108238</li>
<li><a href="http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc">http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc</a></li>
<li><a href="http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc">http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc</a></li>
<li><a href="http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought">http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought</a></li>
<li><a href="http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought">http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought</a></li>
<li><a href="http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought">http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought</a></li>
<li><a href="http://stackoverflow.com/questions/17313985/stream-h-264-video-over-rtp-using-gstreamer">Stream H.264 video over rtp using gstreamer - Stack Overflow</a>: http://stackoverflow.com/questions/17313985/stream-h-264-video-over-rtp-using-gstreamer</li>
<li><a href="http://stackoverflow.com/questions/19308741/gstreamer-cannot-launch-rtsp-streaming">http://stackoverflow.com/questions/19308741/gstreamer-cannot-launch-rtsp-streaming</a></li>
<li><a href="http://stackoverflow.com/questions/4303439/streaming-server-by-rtp-or-rtsp">Streaming server by RTP or RTSP - Stack Overflow</a>: http://stackoverflow.com/questions/4303439/streaming-server-by-rtp-or-rtsp</li>
<li><a href="http://stackoverflow.com/questions/5758350/android-rtp-sdp-x264-problem-have-audio-but-no-video">http://stackoverflow.com/questions/5758350/android-rtp-sdp-x264-problem-have-audio-but-no-video</a></li>
<li><a href="http://stackoverflow.com/questions/6023668/rtp-video-stream-is-presence-of-sdp-file-mandatory">http://stackoverflow.com/questions/6023668/rtp-video-stream-is-presence-of-sdp-file-mandatory</a></li>
<li><a href="http://tools.ietf.org/html/rfc4175">RFC 4175 - RTP Payload Format for Uncompressed Video</a>: http://tools.ietf.org/html/rfc4175</li>
<li><a href="http://ubuntuforums.org/showthread.php?t=882537">[other] Help with RTP & GStreamer</a>: http://ubuntuforums.org/showthread.php?t=882537</li>
<li><a href="http://weeklybuild.com/2013/01/creating-an-rtsp-stream-with-gstreamer/">http://weeklybuild.com/2013/01/creating-an-rtsp-stream-with-gstreamer/</a></li>
<li><a href="http://wikipedia.org/wiki/RTP_audio_video_profile">http://wikipedia.org/wiki/RTP_audio_video_profile</a></li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/faq.html">http://www.cs.columbia.edu/~hgs/rtp/faq.html</a></li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/faq.html">RTP: Some Frequently Asked Questions about RTP</a>: http://www.cs.columbia.edu/~hgs/rtp/faq.html</li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/">RTP: About RTP and the Audio-Video Transport Working Group</a>: http://www.cs.columbia.edu/~hgs/rtp/</li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtsp/implementations.html">RTSP: Real-Time Streaming Protocol</a>: http://www.cs.columbia.edu/~hgs/rtsp/implementations.html</li>
<li><a href="http://www.cs.columbia.edu/irt/software/rtptools/">RTP Tools 1.20</a>: http://www.cs.columbia.edu/irt/software/rtptools/</li>
<li><a href="http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml">http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml</a></li>
<li><a href="http://www.linux.org/threads/tcp-ip-protocol-real-time-transport-protocol-rtp.4965/">TCP/IP Protocol: Real-time Transport Protocol (RTP) | Linux.org</a>: http://www.linux.org/threads/tcp-ip-protocol-real-time-transport-protocol-rtp.4965/</li>
<li><a href="http://www.live555.com/mplayer/">RTSP/RTP streaming support for MPlayer</a>: http://www.live555.com/mplayer/</li>
