<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=20">http://ffmpeg.gusari.org/viewtopic.php?f=12&t=20</a></li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756">RTP and RTSP streaming with FFmpeg • FFmpeg Support Forum</a>: http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756</li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=880">http://ffmpeg.gusari.org/viewtopic.php?f=12&t=880</a></li>
<li><a href="http://ffmpeg.org/ffmpeg-codecs.html">http://ffmpeg.org/ffmpeg-codecs.html</a></li>
<li><a href="http://ffmpeg.org/ffmpeg.html">http://ffmpeg.org/ffmpeg.html</a></li>
<li><a href="http://ffmpeg.zeranoe.com/forum/viewtopic.php?f=7&t=1011">http://ffmpeg.zeranoe.com/forum/viewtopic.php?f=7&t=1011</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-ffmpeg-plugins/html/ffenc-mpeg4.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-ffmpeg-plugins/html/ffenc-mpeg4.html</a></li>
<li><a href="https://community.freescale.com/thread/300676">Using FFMPEG on top of lib-imx | Freescale Community</a>: https://community.freescale.com/thread/300676</li>
<li><a href="http://sonnati.wordpress.com/2011/08/30/ffmpeg-%E2%80%93-the-swiss-army-knife-of-internet-streaming-%E2%80%93-part-iv/">FFmpeg – the swiss army knife of Internet Streaming – part IV | Video Encoding & Streaming Technologies</a>: http://sonnati.wordpress.com/2011/08/30/ffmpeg-%E2%80%93-the-swiss-army-knife-of-internet-streaming-%E2%80%93-part-iv/</li>
<li><a href="http://stackoverflow.com/questions/11377857/ffmpeg-conversion-from-uyvy422-to-yuv420p">http://stackoverflow.com/questions/11377857/ffmpeg-conversion-from-uyvy422-to-yuv420p</a></li>
<li><a href="http://stackoverflow.com/questions/3377300/what-are-all-codecs-supported-by-ffmpeg">http://stackoverflow.com/questions/3377300/what-are-all-codecs-supported-by-ffmpeg</a></li>
<li><a href="https://trac.ffmpeg.org/wiki/Streaming%20media%20with%20ffserver">Streaming media with ffserver – FFmpeg</a>: https://trac.ffmpeg.org/wiki/Streaming%20media%20with%20ffserver</li>
<li><a href="https://trac.ffmpeg.org/wiki/StreamingGuide">https://trac.ffmpeg.org/wiki/StreamingGuide</a></li>
<li><a href="http://www.ffmpeg.org/faq.html">http://www.ffmpeg.org/faq.html</a></li>
<li><a href="http://www.ffmpeg.org/ffmpeg-protocols.html">FFmpeg documentation : :</a>: http://www.ffmpeg.org/ffmpeg-protocols.html</li>
<li><a href="http://www.ffmpeg.org/ffserver.html">FFmpeg documentation : :</a>: http://www.ffmpeg.org/ffserver.html</li>
<li><a href="http://www.ffmpeg.org/general.html">http://www.ffmpeg.org/general.html</a></li>
