<li><a href="http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/">ARM running Linux talking easily with a Xilinx FPGA</a>: http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/</li>
<li><a href="http://billauer.co.il/blog/2012/07/device-tree-file-xilinx-dtb-linux/">http://billauer.co.il/blog/2012/07/device-tree-file-xilinx-dtb-linux/</a></li>
<li><a href="http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/">Interrupt definitions in DTS (device tree) files for Xilinx Zynq-7000 / ARM</a>: http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/bd-p/ELINUX">Embedded Linux - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/bd-p/ELINUX</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313">BootGen adding extra bytes and u-boot Zynq PL FPGA... - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/ZC702-Linux-kernel-crash-in-dma-driver-when-using-axi-vdma-only/td-p/272522">ZC702: Linux kernel crash in dma driver, when usin... - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/ZC702-Linux-kernel-crash-in-dma-driver-when-using-axi-vdma-only/td-p/272522</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Processor-System-Design/AXI-VDMA-first-steps/td-p/292159">http://forums.xilinx.com/t5/Embedded-Processor-System-Design/AXI-VDMA-first-steps/td-p/292159</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/">http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/</a></li>
<li><a href="http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/">/conf/machine/boards/zedboard/</a>: http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/</li>
<li><a href="https://github.com/shakith/zedboard/blob/master/drivers/video/xilinx/xsobel.c">https://github.com/shakith/zedboard/blob/master/drivers/video/xilinx/xsobel.c</a></li>
<li><a href="https://github.com/Xilinx/meta-petalinux">Xilinx/meta-petalinux · GitHub</a>: https://github.com/Xilinx/meta-petalinux</li>
<li><a href="https://linuxlink.timesys.com/docs/gsg/zedboard">Timesys Getting Started Guide for Xilinx Zedboard | Timesys Embedded Linux</a>: https://linuxlink.timesys.com/docs/gsg/zedboard</li>
<li><a href="https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html">[meta-xilinx] bitbaked u-boot on zedboard</a>: https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html</li>
<li><a href="http://wiki.analog.com/resources/fpga/xilinx/kc705/adv7511?force_rev=1">http://wiki.analog.com/resources/fpga/xilinx/kc705/adv7511?force_rev=1</a></li>
<li><a href="http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc">How a MicroBlaze Can Peaceably Coexist with the Xilinx Zynq SoC » DesignSpark</a>: http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc</li>
<li><a href="http://www.wiki.xilinx.com/Boot+Pre-Built+Avnet+ZedBoard+Image">Xilinx Wiki - Boot Pre-Built Avnet ZedBoard Image</a>: http://www.wiki.xilinx.com/Boot+Pre-Built+Avnet+ZedBoard+Image</li>
<li><a href="http://www.wiki.xilinx.com/Build+and+Modify+a+Rootfs">Xilinx Wiki - Build and Modify a Rootfs</a>: http://www.wiki.xilinx.com/Build+and+Modify+a+Rootfs</li>
<li><a href="http://www.wiki.xilinx.com/Build+Device+Tree+Blob">http://www.wiki.xilinx.com/Build+Device+Tree+Blob</a></li>
<li><a href="http://www.wiki.xilinx.com/Build+FSBL">Xilinx Wiki - Build FSBL</a>: http://www.wiki.xilinx.com/Build+FSBL</li>
<li><a href="http://www.wiki.xilinx.com/Build+U-Boot">Xilinx Wiki - Build U-Boot</a>: http://www.wiki.xilinx.com/Build+U-Boot</li>
<li><a href="http://www.wiki.xilinx.com/CAN4Linux">http://www.wiki.xilinx.com/CAN4Linux</a></li>
<li><a href="http://www.wiki.xilinx.com/Getting+Started">Xilinx Wiki - Getting Started</a>: http://www.wiki.xilinx.com/Getting+Started</li>
<li><a href="http://www.wiki.xilinx.com/Install+Xilinx+Tools">Xilinx Wiki - Install Xilinx Tools</a>: http://www.wiki.xilinx.com/Install+Xilinx+Tools</li>
<li><a href="http://www.wiki.xilinx.com/Linux+GPIO+Driver">http://www.wiki.xilinx.com/Linux+GPIO+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Multi-OS+Support+%28AMP+%26+Hypervisor%29">http://www.wiki.xilinx.com/Multi-OS+Support+%28AMP+%26+Hypervisor%29</a></li>
<li><a href="http://www.wiki.xilinx.com/PetaLinux">Xilinx Wiki - PetaLinux</a>: http://www.wiki.xilinx.com/PetaLinux</li>
<li><a href="http://www.wiki.xilinx.com/Prepare+boot+image">Xilinx Wiki - Prepare boot image</a>: http://www.wiki.xilinx.com/Prepare+boot+image</li>
<li><a href="http://www.wiki.xilinx.com/Prepare+Boot+Image">Xilinx Wiki - Prepare Boot Image</a>: http://www.wiki.xilinx.com/Prepare+Boot+Image</li>
<li><a href="http://www.wiki.xilinx.com/QEMU">Xilinx Wiki - QEMU</a>: http://www.wiki.xilinx.com/QEMU</li>
<li><a href="http://www.wiki.xilinx.com/Yocto">Xilinx Wiki - Yocto</a>: http://www.wiki.xilinx.com/Yocto</li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">http://www.wiki.xilinx.com/Zynq+Linux</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA">http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA">http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver">http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver">http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">Xilinx Wiki - Zynq Linux</a>: http://www.wiki.xilinx.com/Zynq+Linux</li>
<li><a href="http://www.xilinx.com/esp/video/refdes_listing.htm">http://www.xilinx.com/esp/video/refdes_listing.htm</a></li>
<li><a href="http://www.xilinx.com/ipcenter/axi4.htm">http://www.xilinx.com/ipcenter/axi4.htm</a></li>
<li><a href="http://www.xilinx.com/ipcenter/axi4.htm">http://www.xilinx.com/ipcenter/axi4.htm</a></li>
<li><a href="http://www.xilinx.com/products/design-tools/ise-design-suite/">http://www.xilinx.com/products/design-tools/ise-design-suite/</a></li>
<li><a href="http://www.xilinx.com/products/intellectual-property/axi_fifo.htm">http://www.xilinx.com/products/intellectual-property/axi_fifo.htm</a></li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/</a></li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm</a></li>
<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx11/SDK_doc/getting_started/sdk_getting_started.htm">http://www.xilinx.com/support/documentation/sw_manuals/xilinx11/SDK_doc/getting_started/sdk_getting_started.htm</a></li>
<li><a href="http://www.xilinx.com/support/download/index.htm">Xilinx Downloads</a>: http://www.xilinx.com/support/download/index.htm</li>
<li><a href="http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/axi_external_memory_controller.html">http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/axi_external_memory_controller.html</a></li>
<li><a href="http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/channelized_direct_memory_access_and_scatter_gather.html">http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/channelized_direct_memory_access_and_scatter_gather.html</a></li>
<li><a href="http://www.xilinx.com/tools/platform.htm">http://www.xilinx.com/tools/platform.htm</a></li>
<li><a href="http://www.xilinx.com/tools/xps.htm">http://www.xilinx.com/tools/xps.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm">http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm">Xilinx® Training : How to Build a Linux Boot Image for the Zynq-7000 AP SoC</a>: http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm</li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm">http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm</a></li>
<li><a href="http://www.zedboard.org/content/using-xilinx-sdk-build-bootbin">using Xilinx SDK to build BOOT.bin | Zedboard</a>: http://www.zedboard.org/content/using-xilinx-sdk-build-bootbin</li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-linux">Zynq Linux - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-linux</li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-qemu">QEMU on Zynq - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-qemu</li>
<li><a href="http://zedboard.org/content/xilinx-tools-install-and-license-howto">Xilinx tools install and license howto | Zedboard</a>: http://zedboard.org/content/xilinx-tools-install-and-license-howto</li>
<li><a href="www.wiki.xilinx.com/Linux+Drivers?responseToken=030b9ad3e65078a1549f375e770812dcc">www.wiki.xilinx.com/Linux+Drivers?responseToken=030b9ad3e65078a1549f375e770812dcc</a></li>
