<li><a href="http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/">Interrupt definitions in DTS (device tree) files for Xilinx Zynq-7000 / ARM</a>: http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/</li>
<li><a href="http://devicetree.org/Device_Tree_Usage">Device Tree Usage - FDTWiki</a>: http://devicetree.org/Device_Tree_Usage</li>
<li><a href="http://elinux.org/Device_Tree">Device Tree - eLinux.org</a>: http://elinux.org/Device_Tree</li>
<li><a href="http://www.devicetree.org/Device_Tree_Usage">Device Tree Usage - FDTWiki</a>: http://www.devicetree.org/Device_Tree_Usage</li>
