<li><a href="http://amarghosh.blogspot.ch/2012/01/gstreamer-appsrc-in-action.html">Ghosh blog: gstreamer appsrc in action</a>: http://amarghosh.blogspot.ch/2012/01/gstreamer-appsrc-in-action.html</li>
<li><a href="http://aneeska.com/2011/04/22/how-to-stream-video-from-a-camera-using-gstreamer-and-receive-it-using-vlc/">http://aneeska.com/2011/04/22/how-to-stream-video-from-a-camera-using-gstreamer-and-receive-it-using-vlc/</a></li>
<li><a href="http://architechboards-yocto.readthedocs.org/en/latest/opkg.html">Opkg Basics — pengwyn-sdk 1.0.0 documentation</a>: http://architechboards-yocto.readthedocs.org/en/latest/opkg.html</li>
<li><a href="http://avnetexpress.avnet.com/content/adx/documents/en_us/GSC-AES-ZBDB-ADPT-G-V1.pdf">http://avnetexpress.avnet.com/content/adx/documents/en_us/GSC-AES-ZBDB-ADPT-G-V1.pdf</a></li>
<li><a href="http://avnetexpress.avnet.com/store/em/EMController?action=products&catalogId=500201&storeId=500201&N=0&langId=-1&slnk=b&term=AES-ZBDB-ADPT-G&hrf=http%3A%2F%2Fwww.em.avnet.com%2Fen-us%2Fdesign%2Fdrc%2FPages%2FZedBoard-Processor-Debug-Adapter.aspx&intcmp=EMA-BUY-AES-ZBDB-ADPT-G">http://avnetexpress.avnet.com/store/em/EMController?action=products&catalogId=500201&storeId=500201&N=0&langId=-1&slnk=b&term=AES-ZBDB-ADPT-G&hrf=http%3A%2F%2Fwww.em.avnet.com%2Fen-us%2Fdesign%2Fdrc%2FPages%2FZedBoard-Processor-Debug-Adapter.aspx&intcmp=EMA-BUY-AES-ZBDB-ADPT-G</a></li>
<li><a href="http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/">ARM running Linux talking easily with a Xilinx FPGA</a>: http://billauer.co.il/blog/2011/11/arm-linux-fpga-zynq-dma-ethernet-usb/</li>
<li><a href="http://billauer.co.il/blog/2012/07/device-tree-file-xilinx-dtb-linux/">http://billauer.co.il/blog/2012/07/device-tree-file-xilinx-dtb-linux/</a></li>
<li><a href="http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/">Interrupt definitions in DTS (device tree) files for Xilinx Zynq-7000 / ARM</a>: http://billauer.co.il/blog/2012/08/irq-zynq-dts-cortex-a9/</li>
<li><a href="http://bill.station51.net/index.php?post/2010/01/30/HOWTO:-Booting-from-SD-card-using-U-Boot">HOWTO: Booting from SD card using U-Boot - Bill's Blog</a>: http://bill.station51.net/index.php?post/2010/01/30/HOWTO:-Booting-from-SD-card-using-U-Boot</li>
<li><a href="http://cgit.freedesktop.org/gstreamer/gst-rtsp-server/tree/docs/README">http://cgit.freedesktop.org/gstreamer/gst-rtsp-server/tree/docs/README</a></li>
<li><a href="http://code.entropywave.com/orc/">http://code.entropywave.com/orc/</a></li>
<li><a href="http://coherentmusings.wordpress.com/2012/12/22/device-node-creation-without-using-mknod/">http://coherentmusings.wordpress.com/2012/12/22/device-node-creation-without-using-mknod/</a></li>
<li><a href="http://coherentmusings.wordpress.com/2013/12/13/how-to-write-a-platform-devicedriver-adc-driver-using-wm97xx-codec/">http://coherentmusings.wordpress.com/2013/12/13/how-to-write-a-platform-devicedriver-adc-driver-using-wm97xx-codec/</a></li>
<li><a href="http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293">Freescale OpenEmbedded/Yocto Layers discussion list ()</a>: http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293</li>
<li><a href="http://comments.gmane.org/gmane.linux.linaro.devel/16551">Linaro ARM Linux Development ()</a>: http://comments.gmane.org/gmane.linux.linaro.devel/16551</li>
<li><a href="http://development.syllable.org/documentation/drivers/introduction/part-1.html">http://development.syllable.org/documentation/drivers/introduction/part-1.html</a></li>
<li><a href="http://devicetree.org/Device_Tree_Usage">Device Tree Usage - FDTWiki</a>: http://devicetree.org/Device_Tree_Usage</li>
<li><a href="http://docs.gstreamer.com/plugins/viewsource/viewpagesrc.action?pageId=327822">docs.gstreamer.com - tips</a>: http://docs.gstreamer.com/plugins/viewsource/viewpagesrc.action?pageId=327822</li>
<li><a href="http://docs.openembedded.org/bitbake/html/">BitBake User Manual</a>: http://docs.openembedded.org/bitbake/html/</li>
<li><a href="http://e2e.ti.com/support/embedded/linux/f/354/t/39507.aspx">TIViddec2 with rtpmp4vdepay - Linux forum - Linux - TI E2E Community</a>: http://e2e.ti.com/support/embedded/linux/f/354/t/39507.aspx</li>
<li><a href="http://elinux.org/Device_Tree">Device Tree - eLinux.org</a>: http://elinux.org/Device_Tree</li>
<li><a href="http://elinux.org/Yocto_Project_Introduction">Yocto Project Introduction - eLinux.org</a>: http://elinux.org/Yocto_Project_Introduction</li>
<li><a href="http://elinux.org/Zedboard_Android">Zedboard Android - eLinux.org</a>: http://elinux.org/Zedboard_Android</li>
<li><a href="http://elinux.org/Zedboard">http://elinux.org/Zedboard</a></li>
<li><a href="http://elinux.org/Zedboard">Zedboard - eLinux.org</a>: http://elinux.org/Zedboard</li>
<li><a href="http://entropywave.com/10-and-16-bit-video-processing-in-gstreamer/">10 and 16 bit Video Processing in GStreamer | Entropy Wave</a>: http://entropywave.com/10-and-16-bit-video-processing-in-gstreamer/</li>
<li><a href="http://entropywave.com/10-and-16-bit-video-processing-in-gstreamer/">http://entropywave.com/10-and-16-bit-video-processing-in-gstreamer/</a></li>
<li><a href="http://entropywave.com/category/gstreamer/">http://entropywave.com/category/gstreamer/</a></li>
<li><a href="http://entropywave.com/products/entropy-wave-media-sdk/">http://entropywave.com/products/entropy-wave-media-sdk/</a></li>
<li><a href="http://en.wikipedia.org/wiki/Grayscale">Grayscale - Wikipedia, the free encyclopedia</a>: http://en.wikipedia.org/wiki/Grayscale</li>
<li><a href="http://en.wikipedia.org/wiki/USB_video_device_class">USB video device class - Wikipedia, the free encyclopedia</a>: http://en.wikipedia.org/wiki/USB_video_device_class</li>
<li><a href="http://events.linuxfoundation.org/events/embedded-linux-conference-europe">http://events.linuxfoundation.org/events/embedded-linux-conference-europe</a></li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=20">http://ffmpeg.gusari.org/viewtopic.php?f=12&t=20</a></li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756">RTP and RTSP streaming with FFmpeg • FFmpeg Support Forum</a>: http://ffmpeg.gusari.org/viewtopic.php?f=12&t=756</li>
<li><a href="http://ffmpeg.gusari.org/viewtopic.php?f=12&t=880">http://ffmpeg.gusari.org/viewtopic.php?f=12&t=880</a></li>
<li><a href="http://ffmpeg.org/ffmpeg-codecs.html">http://ffmpeg.org/ffmpeg-codecs.html</a></li>
<li><a href="http://ffmpeg.org/ffmpeg.html">http://ffmpeg.org/ffmpeg.html</a></li>
<li><a href="http://ffmpeg.zeranoe.com/forum/viewtopic.php?f=7&t=1011">http://ffmpeg.zeranoe.com/forum/viewtopic.php?f=7&t=1011</a></li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/bd-p/ELINUX">Embedded Linux - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/bd-p/ELINUX</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313">BootGen adding extra bytes and u-boot Zynq PL FPGA... - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/BootGen-adding-extra-bytes-and-u-boot-Zynq-PL-FPGA-load-nuances/td-p/399313</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Linux/ZC702-Linux-kernel-crash-in-dma-driver-when-using-axi-vdma-only/td-p/272522">ZC702: Linux kernel crash in dma driver, when usin... - Xilinx User Community Forums</a>: http://forums.xilinx.com/t5/Embedded-Linux/ZC702-Linux-kernel-crash-in-dma-driver-when-using-axi-vdma-only/td-p/272522</li>
<li><a href="http://forums.xilinx.com/t5/Embedded-Processor-System-Design/AXI-VDMA-first-steps/td-p/292159">http://forums.xilinx.com/t5/Embedded-Processor-System-Design/AXI-VDMA-first-steps/td-p/292159</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/">http://fpgacpu.wordpress.com/2013/05/24/yet-another-guide-to-running-linaro-ubuntu-desktop-on-xilinx-zynq-on-the-zedboard/</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-one/">http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-one/</a></li>
<li><a href="http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-two/">http://fpgacpu.wordpress.com/2013/05/28/how-to-design-and-access-a-memory-mapped-device-part-two/</a></li>
<li><a href="http://git.linuxtv.org/media_tree.git/blob/HEAD:/drivers/media/platform/vivi.c">http://git.linuxtv.org/media_tree.git/blob/HEAD:/drivers/media/platform/vivi.c</a></li>
<li><a href="http://git-scm.com/book/en/Git-Tools-Submodules">Git - Submodules</a>: http://git-scm.com/book/en/Git-Tools-Submodules</li>
<li><a href="http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/">/conf/machine/boards/zedboard/</a>: http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/</li>
<li><a href="http://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads">poky - Poky Build Tool and Metadata</a>: http://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads</li>
<li><a href="http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq?version=11">http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq?version=11</a></li>
<li><a href="http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq">Zynq - GNU Radio - gnuradio.org</a>: http://gnuradio.org/redmine/projects/gnuradio/wiki/Zynq</li>
<li><a href="http://gstconf.ubicast.tv/channels/#gstreamer-conference-2013">http://gstconf.ubicast.tv/channels/#gstreamer-conference-2013</a></li>
<li><a href="http://gstreamer-devel.966125.n4.nabble.com/h-264-Video-Streaming-over-TCP-td4658747.html">http://gstreamer-devel.966125.n4.nabble.com/h-264-Video-Streaming-over-TCP-td4658747.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/faq/html/chapter-using.html">Using GStreamer</a>: http://gstreamer.freedesktop.org/data/doc/gstreamer/head/faq/html/chapter-using.html</li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-ffmpeg-plugins/html/ffenc-mpeg4.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-ffmpeg-plugins/html/ffenc-mpeg4.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-bad-plugins/html/">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-bad-plugins/html/</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-base-libs/html/gst-plugins-base-libs-gstvideo.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-base-libs/html/gst-plugins-base-libs-gstvideo.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-base-plugins/html/">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-base-plugins/html/</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/ch01.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/ch01.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-multiudpsink.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-multiudpsink.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-plugin-rtsp.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-plugin-rtsp.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtpdec.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtpdec.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-rtspsrc.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-shagadelictv.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-shagadelictv.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-udpsrc.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-udpsrc.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-v4l2src.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-v4l2src.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-ugly-plugins/html/">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-ugly-plugins/html/</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html">http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-rtsp-server/html/GstRTSPClient.html</a></li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/pwg/html/">GStreamer Plugin Writer's Guide (1.2.2)</a>: http://gstreamer.freedesktop.org/data/doc/gstreamer/head/pwg/html/</li>
<li><a href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/pwg/html/section-types-definitions.html">gstreamer - List of Defined Types</a>: http://gstreamer.freedesktop.org/data/doc/gstreamer/head/pwg/html/section-types-definitions.html</li>
<li><a href="http://gstreamer.freedesktop.org/documentation/plugins.html">http://gstreamer.freedesktop.org/documentation/plugins.html</a></li>
<li><a href="http://gumstix.org/software-development/yocto-project.html">gumstix.org - Yocto Project and Bitbake</a>: http://gumstix.org/software-development/yocto-project.html</li>
<li><a href="http://hambedded.org/blog/2012/11/24/from-bitbake-hello-world-to-an-image/">From Bitbake Hello World To an Image - Hambedded Linux</a>: http://hambedded.org/blog/2012/11/24/from-bitbake-hello-world-to-an-image/</li>
<li><a href="http://hamsterworks.co.nz/mediawiki/index.php/Zedboard_HDMI">http://hamsterworks.co.nz/mediawiki/index.php/Zedboard_HDMI</a></li>
<li><a href="http://labs.isee.biz/index.php/Example_GStreamer_Pipelines">Example GStreamer Pipelines - IGEP Community Wiki</a>: http://labs.isee.biz/index.php/Example_GStreamer_Pipelines</li>
<li><a href="http://labs.isee.biz/index.php/Example_GStreamer_Pipelines">http://labs.isee.biz/index.php/Example_GStreamer_Pipelines</a></li>
<li><a href="http://layers.openembedded.org/layerindex/branch/master/layers/">http://layers.openembedded.org/layerindex/branch/master/layers/</a></li>
<li><a href="http://layers.openembedded.org/layerindex/branch/master/layers/">OpenEmbedded metadata index - layers</a>: http://layers.openembedded.org/layerindex/branch/master/layers/</li>
<li><a href="http://linuxaria.com/article/how-to-make-dmesg-timestamp-human-readable?lang=en">http://linuxaria.com/article/how-to-make-dmesg-timestamp-human-readable?lang=en</a></li>
<li><a href="http://linuxtutorial.info/modules.php?name=MContent&pageid=94">http://linuxtutorial.info/modules.php?name=MContent&pageid=94</a></li>
<li><a href="http://linuxtv.org/downloads/v4l-dvb-apis/vidioc-querycap.html#v4l2-capability">http://linuxtv.org/downloads/v4l-dvb-apis/vidioc-querycap.html#v4l2-capability</a></li>
<li><a href="http://lists.freedesktop.org/archives/gstreamer-devel/2011-April/031237.html">Help with Gstreamer and RTSP with Axis Camera</a>: http://lists.freedesktop.org/archives/gstreamer-devel/2011-April/031237.html</li>
<li><a href="http://lists.infradead.org/pipermail/linux-arm-kernel/2011-April/047966.html">http://lists.infradead.org/pipermail/linux-arm-kernel/2011-April/047966.html</a></li>
<li><a href="http://lwn.net/Articles/206765/">http://lwn.net/Articles/206765/</a></li>
<li><a href="http://lwn.net/Articles/448499/">http://lwn.net/Articles/448499/</a></li>
<li><a href="http://lwn.net/Articles/448502/">http://lwn.net/Articles/448502/</a></li>
<li><a href="http://lxr.free-electrons.com/ident?i=register_device">http://lxr.free-electrons.com/ident?i=register_device</a></li>
<li><a href="http://lxr.free-electrons.com/source/drivers/base/platform.c">http://lxr.free-electrons.com/source/drivers/base/platform.c</a></li>
<li><a href="http://lxr.free-electrons.com/source/include/media/v4l2-common.h">http://lxr.free-electrons.com/source/include/media/v4l2-common.h</a></li>
<li><a href="http://maniacbug.wordpress.com/2012/08/03/yocto/">Getting Started with OpenEmbedded using Yocto | maniacbug</a>: http://maniacbug.wordpress.com/2012/08/03/yocto/</li>
<li><a href="http://mesasrv03/DokuWiki/doku.php?id=2013-10-16">Meeting Notes - 2013-10-16</a></li>
<li><a href="http://noraisin.net/diary/?p=40">Fun things to do with GStreamer command-lines » Verbal Diaryer</a>: http://noraisin.net/diary/?p=40</li>
<li><a href="http://plugable.com/2011/12/23/usb-graphics-and-linux">Howto: DisplayLink USB Single Monitor on Linux | Plugable</a>: http://plugable.com/2011/12/23/usb-graphics-and-linux</li>
<li><a href="http://pointclouds.org/documentation/">http://pointclouds.org/documentation/</a></li>
<li><a href="http://pointclouds.org/documentation/tutorial">http://pointclouds.org/documentation/tutorial</a></li>
<li><a href="http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot">Booting Linux kernel using U-Boot - Texas Instruments Wiki</a>: http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot</li>
<li><a href="http://processors.wiki.ti.com/index.php/Example_GStreamer_Pipelines">Example GStreamer Pipelines - Texas Instruments Wiki</a>: http://processors.wiki.ti.com/index.php/Example_GStreamer_Pipelines</li>
<li><a href="http://qce-ga.sourceforge.net/">qc-usb: Linux Driver for Quickcam USB cameras</a>: http://qce-ga.sourceforge.net/</li>
<li><a href="http://rtpstream.com/links.shtml">RTP / RTSP Streaming Forum: Links</a>: http://rtpstream.com/links.shtml</li>
<li><a href="https://community.freescale.com/docs/DOC-93487">Useful Gstreamer Commands | Freescale Community</a>: https://community.freescale.com/docs/DOC-93487</li>
<li><a href="https://community.freescale.com/thread/265171">https://community.freescale.com/thread/265171</a></li>
<li><a href="https://community.freescale.com/thread/300676">Using FFMPEG on top of lib-imx | Freescale Community</a>: https://community.freescale.com/thread/300676</li>
<li><a href="https://community.freescale.com/thread/304415">https://community.freescale.com/thread/304415</a></li>
<li><a href="https://community.freescale.com/thread/308934">Network Streaming a file using gst-launch (gstreamer) | Freescale Community</a>: https://community.freescale.com/thread/308934</li>
<li><a href="https://community.freescale.com/thread/311974">https://community.freescale.com/thread/311974</a></li>
<li><a href="https://community.freescale.com/thread/312305">https://community.freescale.com/thread/312305</a></li>
<li><a href="https://developer.gnome.org/gst-plugins-libs/0.11/gst-plugins-good-plugins-rtspsrc.html">https://developer.gnome.org/gst-plugins-libs/0.11/gst-plugins-good-plugins-rtspsrc.html</a></li>
<li><a href="https://developer.gnome.org/gstreamer/stable/gst-running.html">Running GStreamer Applications</a>: https://developer.gnome.org/gstreamer/stable/gst-running.html</li>
<li><a href="https://developer.ridgerun.com/wiki/index.php/RidgeRun_RTSP_GStreamer_Server">RidgeRun RTSP GStreamer Server - RidgeRun Developer Connection</a>: https://developer.ridgerun.com/wiki/index.php/RidgeRun_RTSP_GStreamer_Server</li>
<li><a href="https://developer.ridgerun.com/wiki/index.php/Using_UDP_Multicast_with_GStreamer">https://developer.ridgerun.com/wiki/index.php/Using_UDP_Multicast_with_GStreamer</a></li>
<li><a href="https://developer.ridgerun.com/wiki/index.php/Using_UDP_Multicast_with_GStreamer">Using UDP Multicast with GStreamer - RidgeRun Developer Connection</a>: https://developer.ridgerun.com/wiki/index.php/Using_UDP_Multicast_with_GStreamer</li>
<li><a href="https://entropywave.com/tag/gstreamer/">gstreamer | Entropy Wave</a>: https://entropywave.com/tag/gstreamer/</li>
<li><a href="http://serverfault.com/questions/317472/open-source-rtsp-streaming-server">linux - Open source RTSP streaming server - Server Fault</a>: http://serverfault.com/questions/317472/open-source-rtsp-streaming-server</li>
<li><a href="https://forum.videolan.org/viewtopic.php?f=13&t=71920">The VideoLAN Forums • View topic - VLC RTSP stream to internet</a>: https://forum.videolan.org/viewtopic.php?f=13&t=71920</li>
<li><a href="https://forum.videolan.org/viewtopic.php?f=4&t=108238">The VideoLAN Forums • View topic - Streaming Multiple Files Over RTSP Using Multiple Instances</a>: https://forum.videolan.org/viewtopic.php?f=4&t=108238</li>
<li><a href="https://github.com/balister/meta-zynq/wiki/Getting-started">https://github.com/balister/meta-zynq/wiki/Getting-started</a></li>
<li><a href="https://github.com/culurciello/zynq_linux_drivers_elab">https://github.com/culurciello/zynq_linux_drivers_elab</a></li>
<li><a href="https://github.com/milosoftware/meta-zynq">https://github.com/milosoftware/meta-zynq</a></li>
<li><a href="https://github.com/openembedded/oe-core/blob/master/meta/conf/local.conf.sample">oe-core/meta/conf/local.conf.sample at master · openembedded/oe-core · GitHub</a>: https://github.com/openembedded/oe-core/blob/master/meta/conf/local.conf.sample</li>
<li><a href="https://github.com/openembedded/oe-core/blob/master/scripts/runqemu.README">oe-core/scripts/runqemu.README at master · openembedded/oe-core · GitHub</a>: https://github.com/openembedded/oe-core/blob/master/scripts/runqemu.README</li>
<li><a href="https://github.com/PointCloudLibrary/pcl/wiki">https://github.com/PointCloudLibrary/pcl/wiki</a></li>
<li><a href="https://github.com/shakith/zedboard/blob/master/drivers/dma/dmatest.c">https://github.com/shakith/zedboard/blob/master/drivers/dma/dmatest.c</a></li>
<li><a href="https://github.com/shakith/zedboard/blob/master/drivers/spi/spi.c">https://github.com/shakith/zedboard/blob/master/drivers/spi/spi.c</a></li>
<li><a href="https://github.com/shakith/zedboard/blob/master/drivers/video/xilinx/xsobel.c">https://github.com/shakith/zedboard/blob/master/drivers/video/xilinx/xsobel.c</a></li>
<li><a href="https://github.com/shakith/zedboard/tree/master/drivers/gpio">https://github.com/shakith/zedboard/tree/master/drivers/gpio</a></li>
<li><a href="https://github.com/Xilinx/meta-petalinux">Xilinx/meta-petalinux · GitHub</a>: https://github.com/Xilinx/meta-petalinux</li>
<li><a href="https://github.com/zynqgeek">https://github.com/zynqgeek</a></li>
<li><a href="https://github.com/zynqgeek/simple_custom_peripheral_bare_metal">https://github.com/zynqgeek/simple_custom_peripheral_bare_metal</a></li>
<li><a href="https://git.wiki.kernel.org/index.php/GitSubmoduleTutorial">GitSubmoduleTutorial - Git SCM Wiki</a>: https://git.wiki.kernel.org/index.php/GitSubmoduleTutorial</li>
<li><a href="https://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads">poky - Poky Build Tool and Metadata</a>: https://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads</li>
<li><a href="https://gstreamer.ti.com/gf/project/gstreamer_ti/forum/?action=ForumBrowse&forum_id=187&_forum_action=ForumMessageBrowse&thread_id=3776">https://gstreamer.ti.com/gf/project/gstreamer_ti/forum/?action=ForumBrowse&forum_id=187&_forum_action=ForumMessageBrowse&thread_id=3776</a></li>
<li><a href="http://shakithweblog.blogspot.ch/2012/12/getting-sobel-filter-application.html">http://shakithweblog.blogspot.ch/2012/12/getting-sobel-filter-application.html</a></li>
<li><a href="http://shakithweblog.blogspot.nl/2012/12/getting-sobel-filter-application.html">http://shakithweblog.blogspot.nl/2012/12/getting-sobel-filter-application.html</a></li>
<li><a href="https://linuxlink.timesys.com/docs/gsg/zedboard">Timesys Getting Started Guide for Xilinx Zedboard | Timesys Embedded Linux</a>: https://linuxlink.timesys.com/docs/gsg/zedboard</li>
<li><a href="https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html">[meta-xilinx] bitbaked u-boot on zedboard</a>: https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html</li>
<li><a href="https://lists.yoctoproject.org/pipermail/yocto/2012-December/011007.html">[yocto] bitbake -c devshell option</a>: https://lists.yoctoproject.org/pipermail/yocto/2012-December/011007.html</li>
<li><a href="https://lwn.net/Articles/203924/">https://lwn.net/Articles/203924/</a></li>
<li><a href="https://metalab.at/wiki/Gstreamer_One_Liners">Gstreamer One Liners – Metalab</a>: https://metalab.at/wiki/Gstreamer_One_Liners</li>
<li><a href="http://sonnati.wordpress.com/2011/08/30/ffmpeg-%E2%80%93-the-swiss-army-knife-of-internet-streaming-%E2%80%93-part-iv/">FFmpeg – the swiss army knife of Internet Streaming – part IV | Video Encoding & Streaming Technologies</a>: http://sonnati.wordpress.com/2011/08/30/ffmpeg-%E2%80%93-the-swiss-army-knife-of-internet-streaming-%E2%80%93-part-iv/</li>
<li><a href="http://sourceforge.net/projects/unvedu/">UNVedu | Free software downloads at SourceForge.net</a>: http://sourceforge.net/projects/unvedu/</li>
<li><a href="https://sourceware.org/gdb/onlinedocs/gdb/Backtrace.html">Backtrace - Debugging with GDB</a>: https://sourceware.org/gdb/onlinedocs/gdb/Backtrace.html</li>
<li><a href="http://stackoverflow.com/questions/11377857/ffmpeg-conversion-from-uyvy422-to-yuv420p">http://stackoverflow.com/questions/11377857/ffmpeg-conversion-from-uyvy422-to-yuv420p</a></li>
<li><a href="http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc">http://stackoverflow.com/questions/13154983/gstreamer-rtp-stream-to-vlc</a></li>
<li><a href="http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought">http://stackoverflow.com/questions/13744560/using-gstreamer-to-serve-rtsp-stream-working-example-sought</a></li>
<li><a href="http://stackoverflow.com/questions/17313985/stream-h-264-video-over-rtp-using-gstreamer">Stream H.264 video over rtp using gstreamer - Stack Overflow</a>: http://stackoverflow.com/questions/17313985/stream-h-264-video-over-rtp-using-gstreamer</li>
<li><a href="http://stackoverflow.com/questions/19308741/gstreamer-cannot-launch-rtsp-streaming">http://stackoverflow.com/questions/19308741/gstreamer-cannot-launch-rtsp-streaming</a></li>
<li><a href="http://stackoverflow.com/questions/3377300/what-are-all-codecs-supported-by-ffmpeg">http://stackoverflow.com/questions/3377300/what-are-all-codecs-supported-by-ffmpeg</a></li>
<li><a href="http://stackoverflow.com/questions/4303439/streaming-server-by-rtp-or-rtsp">Streaming server by RTP or RTSP - Stack Overflow</a>: http://stackoverflow.com/questions/4303439/streaming-server-by-rtp-or-rtsp</li>
<li><a href="http://stackoverflow.com/questions/5758350/android-rtp-sdp-x264-problem-have-audio-but-no-video">http://stackoverflow.com/questions/5758350/android-rtp-sdp-x264-problem-have-audio-but-no-video</a></li>
<li><a href="http://stackoverflow.com/questions/6023668/rtp-video-stream-is-presence-of-sdp-file-mandatory">http://stackoverflow.com/questions/6023668/rtp-video-stream-is-presence-of-sdp-file-mandatory</a></li>
<li><a href="http://stackoverflow.com/questions/768999/what-is-a-good-lossless-video-codec">compression - What is a good lossless video codec? - Stack Overflow</a>: http://stackoverflow.com/questions/768999/what-is-a-good-lossless-video-codec</li>
<li><a href="https://trac.ffmpeg.org/wiki/Streaming%20media%20with%20ffserver">Streaming media with ffserver – FFmpeg</a>: https://trac.ffmpeg.org/wiki/Streaming%20media%20with%20ffserver</li>
<li><a href="https://trac.ffmpeg.org/wiki/StreamingGuide">https://trac.ffmpeg.org/wiki/StreamingGuide</a></li>
<li><a href="http://support.spinetix.com/wiki/SDP_file">http://support.spinetix.com/wiki/SDP_file</a></li>
<li><a href="http://svenand.blogdrive.com/archive/179.html">Zynq design from scratch. Part 20. « New Horizons Zynq Blog</a>: http://svenand.blogdrive.com/archive/179.html</li>
<li><a href="https://wiki.archlinux.org/index.php/codecs">Codecs - ArchWiki</a>: https://wiki.archlinux.org/index.php/codecs</li>
<li><a href="https://wiki.archlinux.org/index.php/Webcam_Setup">Webcam Setup - ArchWiki</a>: https://wiki.archlinux.org/index.php/Webcam_Setup</li>
<li><a href="https://wiki.debian.org/HowToGetABacktrace">HowToGetABacktrace - Debian Wiki</a>: https://wiki.debian.org/HowToGetABacktrace</li>
<li><a href="https://wiki.gentoo.org/wiki/EclipseSDK">EclipseSDK - Gentoo Wiki</a>: https://wiki.gentoo.org/wiki/EclipseSDK</li>
<li><a href="https://wiki.gentoo.org/wiki/Layman">Layman - Gentoo Wiki</a>: https://wiki.gentoo.org/wiki/Layman</li>
<li><a href="https://wiki.linaro.org/KenWerner/Sandbox/OpenEmbedded-Core">KenWerner/Sandbox/OpenEmbedded-Core - Linaro Wiki</a>: https://wiki.linaro.org/KenWerner/Sandbox/OpenEmbedded-Core</li>
<li><a href="https://wiki.videolan.org/Documentation:Streaming_HowTo_New/">https://wiki.videolan.org/Documentation:Streaming_HowTo_New/</a></li>
<li><a href="https://wiki.yoctoproject.org/wiki/How_do_I">How do I - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/How_do_I</li>
<li><a href="https://wiki.yoctoproject.org/wiki/Recipe_%26_Patch_Style_Guide">Recipe & Patch Style Guide - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/Recipe_%26_Patch_Style_Guide</li>
<li><a href="https://wiki.yoctoproject.org/wiki/Releases">Releases - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/Releases</li>
<li><a href="https://www.kernel.org/doc/Documentation/driver-model/platform.txt">https://www.kernel.org/doc/Documentation/driver-model/platform.txt</a></li>
<li><a href="https://www.yoctoproject.org/documentation/build-appliance-manual">Build Appliance Manual | Yocto Project</a>: https://www.yoctoproject.org/documentation/build-appliance-manual</li>
<li><a href="http://talk.maemo.org/showthread.php?t=26288">http://talk.maemo.org/showthread.php?t=26288</a></li>
<li><a href="http://tools.ietf.org/html/rfc2435">http://tools.ietf.org/html/rfc2435</a></li>
<li><a href="http://tools.ietf.org/html/rfc2508">http://tools.ietf.org/html/rfc2508</a></li>
<li><a href="http://tools.ietf.org/html/rfc4175">RFC 4175 - RTP Payload Format for Uncompressed Video</a>: http://tools.ietf.org/html/rfc4175</li>
<li><a href="http://ubuntuforums.org/showthread.php?t=882537">[other] Help with RTP & GStreamer</a>: http://ubuntuforums.org/showthread.php?t=882537</li>
<li><a href="http://v4l.videotechnology.com/vivi.html">http://v4l.videotechnology.com/vivi.html</a></li>
<li><a href="http://web.njit.edu/~kevin/rgb.txt.html">RGB to Color Name Mapping(Triplet and Hex)</a>: http://web.njit.edu/~kevin/rgb.txt.html</li>
<li><a href="http://weeklybuild.com/2013/01/creating-an-rtsp-stream-with-gstreamer/">http://weeklybuild.com/2013/01/creating-an-rtsp-stream-with-gstreamer/</a></li>
<li><a href="http://wiki.analog.com/resources/fpga/xilinx/kc705/adv7511?force_rev=1">http://wiki.analog.com/resources/fpga/xilinx/kc705/adv7511?force_rev=1</a></li>
<li><a href="http://wiki.analog.com/resources/tools-software/linux-drivers/iio-adc/axi-adc-hdl">http://wiki.analog.com/resources/tools-software/linux-drivers/iio-adc/axi-adc-hdl</a></li>
<li><a href="http://wiki.maemo.org/Streaming_video_from_built-in_webcam">http://wiki.maemo.org/Streaming_video_from_built-in_webcam</a></li>
<li><a href="http://wiki.openwrt.org/doc/techref/bootloader/uboot.config">Das U-Boot Environment - OpenWrt Wiki</a>: http://wiki.openwrt.org/doc/techref/bootloader/uboot.config</li>
<li><a href="http://wiki.oz9aec.net/index.php/Gstreamer_cheat_sheet">Gstreamer cheat sheet - MyLabWiki</a>: http://wiki.oz9aec.net/index.php/Gstreamer_cheat_sheet</li>
<li><a href="http://wikipedia.org/wiki/Real-time_Transport_Protocol">http://wikipedia.org/wiki/Real-time_Transport_Protocol</a></li>
<li><a href="http://wikipedia.org/wiki/Real-Time_Transport_Protocol">http://wikipedia.org/wiki/Real-Time_Transport_Protocol</a></li>
<li><a href="http://wikipedia.org/wiki/RTP_audio_video_profile">http://wikipedia.org/wiki/RTP_audio_video_profile</a></li>
<li><a href="http://wiki.qemu.org/download/qemu-doc.html">QEMU Emulator User Documentation</a>: http://wiki.qemu.org/download/qemu-doc.html</li>
<li><a href="http://wiki.ubuntuusers.de/GStreamer">GStreamer › Wiki › ubuntuusers.de</a>: http://wiki.ubuntuusers.de/GStreamer</li>
<li><a href="http://wiki.ubuntuusers.de/Videograbbing">Videograbbing › Wiki › ubuntuusers.de - video with sound</a>: http://wiki.ubuntuusers.de/Videograbbing</li>
<li><a href="http://wiki.ubuntuusers.de/Webcam">Webcam › Wiki › ubuntuusers.de</a>: http://wiki.ubuntuusers.de/Webcam</li>
<li><a href="http://ww2.cs.fsu.edu/~rosentha/linux/2.6.26.5/docs/DocBook/kernel-api/ch15.html">http://ww2.cs.fsu.edu/~rosentha/linux/2.6.26.5/docs/DocBook/kernel-api/ch15.html</a></li>
<li><a href="http://www.cisco.com/c/en/us/solutions/collateral/service-provider/carrier-ethernet/white_paper_c22-636808.html">http://www.cisco.com/c/en/us/solutions/collateral/service-provider/carrier-ethernet/white_paper_c22-636808.html</a></li>
<li><a href="http://www.crashcourse.ca/wiki/index.php/BitBake_Tutorial">BitBake Tutorial - Crashcourse Wiki</a>: http://www.crashcourse.ca/wiki/index.php/BitBake_Tutorial</li>
<li><a href="http://www.crashcourse.ca/wiki/index.php/OE-Core">OE-Core - Crashcourse Wiki</a>: http://www.crashcourse.ca/wiki/index.php/OE-Core</li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/faq.html">http://www.cs.columbia.edu/~hgs/rtp/faq.html</a></li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/faq.html">RTP: Some Frequently Asked Questions about RTP</a>: http://www.cs.columbia.edu/~hgs/rtp/faq.html</li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtp/">RTP: About RTP and the Audio-Video Transport Working Group</a>: http://www.cs.columbia.edu/~hgs/rtp/</li>
<li><a href="http://www.cs.columbia.edu/~hgs/rtsp/implementations.html">RTSP: Real-Time Streaming Protocol</a>: http://www.cs.columbia.edu/~hgs/rtsp/implementations.html</li>
<li><a href="http://www.cs.columbia.edu/irt/software/rtptools/">RTP Tools 1.20</a>: http://www.cs.columbia.edu/irt/software/rtptools/</li>
<li><a href="http://www.devicetree.org/Device_Tree_Usage">Device Tree Usage - FDTWiki</a>: http://www.devicetree.org/Device_Tree_Usage</li>
<li><a href="http://www.em.avnet.com/en-us/design/drc/Pages/ZedBoard-Processor-Debug-Adapter.aspx">Processor Debug Adapter for MicroZed and ZedBoard</a>: http://www.em.avnet.com/en-us/design/drc/Pages/ZedBoard-Processor-Debug-Adapter.aspx</li>
<li><a href="http://www.embeddedlinuxconference.com/">http://www.embeddedlinuxconference.com/</a></li>
<li><a href="http://www.embedded-vision.com/what-is-embedded-vision">What is Embedded Vision? | www.embedded-vision.com</a>: http://www.embedded-vision.com/what-is-embedded-vision</li>
<li><a href="http://www.emcraft.com/som/vf6/booting-rootfs-on-sd">Booting Linux with rootfs on SD Card</a>: http://www.emcraft.com/som/vf6/booting-rootfs-on-sd</li>
<li><a href="http://www.faqs.org/rfcs/rfc5371.html">http://www.faqs.org/rfcs/rfc5371.html</a></li>
<li><a href="http://www.ffmpeg.org/faq.html">http://www.ffmpeg.org/faq.html</a></li>
<li><a href="http://www.ffmpeg.org/ffmpeg-protocols.html">FFmpeg documentation : :</a>: http://www.ffmpeg.org/ffmpeg-protocols.html</li>
<li><a href="http://www.ffmpeg.org/ffserver.html">FFmpeg documentation : :</a>: http://www.ffmpeg.org/ffserver.html</li>
<li><a href="http://www.ffmpeg.org/general.html">http://www.ffmpeg.org/general.html</a></li>
<li><a href="http://www.flumotion.org/about/">About Flumotion</a>: http://www.flumotion.org/about/</li>
<li><a href="http://www.freesoft.org/CIE/RFC/1890/29.htm">http://www.freesoft.org/CIE/RFC/1890/29.htm</a></li>
<li><a href="http://www.freesoftwaremagazine.com/articles/drivers_linux">http://www.freesoftwaremagazine.com/articles/drivers_linux</a></li>
<li><a href="http://www.geeksww.com/tutorials/operating_systems/linux/tips_and_tricks/some_tricks_used_by_the_linux_kernel.php">http://www.geeksww.com/tutorials/operating_systems/linux/tips_and_tricks/some_tricks_used_by_the_linux_kernel.php</a></li>
<li><a href="http://www.gentoo.org/proj/en/overlays/userguide.xml">Gentoo Linux Documentation -- Gentoo Overlays: Users' Guide</a>: http://www.gentoo.org/proj/en/overlays/userguide.xml</li>
<li><a href="http://www.gnugeneration.com/books/linux/2.6.20/kernel-api/re736.html">http://www.gnugeneration.com/books/linux/2.6.20/kernel-api/re736.html</a></li>
<li><a href="http://www.gossamer-threads.com/lists/linux/kernel/1365506">http://www.gossamer-threads.com/lists/linux/kernel/1365506</a></li>
<li><a href="http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml">http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml</a></li>
<li><a href="http://www.ideasonboard.org/uvc/">Linux UVC driver & tools</a>: http://www.ideasonboard.org/uvc/</li>
<li><a href="http://www.jumpnowtek.com/index.php?option=com_content&view=article&id=85&Itemid=97">Building small board systems with the Yocto Project</a>: http://www.jumpnowtek.com/index.php?option=com_content&view=article&id=85&Itemid=97</li>
<li><a href="http://www.kernel-labs.org/files/openembedded-guide/openembedded-guide-6.html">OpenEmbedded Guide by Example : The local overlay</a>: http://www.kernel-labs.org/files/openembedded-guide/openembedded-guide-6.html</li>
<li><a href="http://www.linux.org/threads/tcp-ip-protocol-real-time-transport-protocol-rtp.4965/">TCP/IP Protocol: Real-time Transport Protocol (RTP) | Linux.org</a>: http://www.linux.org/threads/tcp-ip-protocol-real-time-transport-protocol-rtp.4965/</li>
<li><a href="http://www.linuxtopia.org/online_books/linux_kernel/kernel_configuration/ch09s07.html">http://www.linuxtopia.org/online_books/linux_kernel/kernel_configuration/ch09s07.html</a></li>
<li><a href="http://www.linuxtv.org/wiki/index.php/GStreamer">http://www.linuxtv.org/wiki/index.php/GStreamer</a></li>
<li><a href="http://www.linuxtv.org/wiki/index.php/V4L_Test_Suite">http://www.linuxtv.org/wiki/index.php/V4L_Test_Suite</a></li>
<li><a href="http://www.linuxtv.org/wiki/index.php/VIVI">http://www.linuxtv.org/wiki/index.php/VIVI</a></li>
<li><a href="http://www.live555.com/liveMedia/">LIVE555 Streaming Media</a>: http://www.live555.com/liveMedia/</li>
<li><a href="http://www.live555.com/mediaServer/">The LIVE555 Media Server</a>: http://www.live555.com/mediaServer/</li>
<li><a href="http://www.live555.com/mplayer/">RTSP/RTP streaming support for MPlayer</a>: http://www.live555.com/mplayer/</li>
<li><a href="http://www.live555.com/vobStreamer/">vobStreamer - a network DVD player application</a>: http://www.live555.com/vobStreamer/</li>
<li><a href="http://www.microsoft.com/windows/windowsmedia/howto/articles/codecs.aspx">http://www.microsoft.com/windows/windowsmedia/howto/articles/codecs.aspx</a></li>
<li><a href="http://www.openembedded.org/wiki/Adding_a_secondary_toolchain">Adding a secondary toolchain - Openembedded.org</a>: http://www.openembedded.org/wiki/Adding_a_secondary_toolchain</li>
<li><a href="http://www.openembedded.org/wiki/Category_talk:FAQ">Category talk:FAQ - Openembedded.org</a>: http://www.openembedded.org/wiki/Category_talk:FAQ</li>
<li><a href="http://www.openembedded.org/wiki/Creating_a_new_Layer">http://www.openembedded.org/wiki/Creating_a_new_Layer</a></li>
<li><a href="http://www.openembedded.org/wiki/Devshell">Devshell - Openembedded.org</a>: http://www.openembedded.org/wiki/Devshell</li>
<li><a href="http://www.openembedded.org/wiki/Kernel_Building">Kernel Building - Openembedded.org</a>: http://www.openembedded.org/wiki/Kernel_Building</li>
<li><a href="http://www.openembedded.org/wiki/List_of_Executable_tasks">List of Executable tasks - Openembedded.org</a>: http://www.openembedded.org/wiki/List_of_Executable_tasks</li>
<li><a href="http://www.openembedded.org/wiki/MultipleRepositoryMethods">http://www.openembedded.org/wiki/MultipleRepositoryMethods</a></li>
<li><a href="http://www.openembedded.org/wiki/OE-Core_Standalone_Setup">OE-Core Standalone Setup - Openembedded.org</a>: http://www.openembedded.org/wiki/OE-Core_Standalone_Setup</li>
<li><a href="http://www.openembedded.org/wiki/OpenEmbedded-Core">OpenEmbedded-Core - Openembedded.org</a>: http://www.openembedded.org/wiki/OpenEmbedded-Core</li>
<li><a href="http://www.opengl.org/documentation/specs/glut/spec3/node4.html">OpenGL - 1.2 Design Philosophy</a>: http://www.opengl.org/documentation/specs/glut/spec3/node4.html</li>
<li><a href="http://www.opensourceforu.com/2011/04/character-device-files-creation-operations/">http://www.opensourceforu.com/2011/04/character-device-files-creation-operations/</a></li>
<li><a href="http://www.opensourceforu.com/2011/06/generic-hardware-access-in-linux/">http://www.opensourceforu.com/2011/06/generic-hardware-access-in-linux/</a></li>
<li><a href="http://www.opensourceforu.com/tag/linux-device-drivers-series/">http://www.opensourceforu.com/tag/linux-device-drivers-series/</a></li>
<li><a href="http://www.oz9aec.net/index.php/gstreamer/345-a-weekend-with-gstreamer">A Weekend with GStreamer</a>: http://www.oz9aec.net/index.php/gstreamer/345-a-weekend-with-gstreamer</li>
<li><a href="http://www.oz9aec.net/index.php/gstreamer/367-webcam-pixel-formats-and-gstreamer-caps-filters">Webcam pixel formats and Gstreamer caps filters</a>: http://www.oz9aec.net/index.php/gstreamer/367-webcam-pixel-formats-and-gstreamer-caps-filters</li>
<li><a href="http://www.oz9aec.net/index.php/gstreamer/473-using-the-logitech-c920-webcam-with-gstreamer">Using the Logitech C920 webcam with Gstreamer</a>: http://www.oz9aec.net/index.php/gstreamer/473-using-the-logitech-c920-webcam-with-gstreamer</li>
<li><a href="http://www.phoronix.com/scan.php?page=news_item&px=MTI1MDc">http://www.phoronix.com/scan.php?page=news_item&px=MTI1MDc</a></li>
<li><a href="http://www.randomexploits.com/projects/sheevaplug/sd-boot.htm">RandomExploits - booting from sdcard</a>: http://www.randomexploits.com/projects/sheevaplug/sd-boot.htm</li>
<li><a href="http://www.raspberrypi.org/forums/viewtopic.php?t=49278&p=462761">http://www.raspberrypi.org/forums/viewtopic.php?t=49278&p=462761</a></li>
<li><a href="http://www.rocketboards.org/foswiki/Documentation/AlteraSoCDevelopmentBoardYoctoGettingStarted">Linux Getting Started on Altera SoC Development Board - Using Yocto Source Package · Documentation · RocketBoards.org</a>: http://www.rocketboards.org/foswiki/Documentation/AlteraSoCDevelopmentBoardYoctoGettingStarted</li>
<li><a href="http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc">How a MicroBlaze Can Peaceably Coexist with the Xilinx Zynq SoC » DesignSpark</a>: http://www.rs-online.com/designspark/electronics/knowledge-item/how-a-microblaze-can-peaceably-coexist-with-the-xilinx-zynq-soc</li>
<li><a href="http://www.rtmpd.com/">Home » C++ RTMP Server</a>: http://www.rtmpd.com/</li>
<li><a href="http://www.stlinux.com/u-boot/kernel-booting">Booting The Linux Kernel | STLinux</a>: http://www.stlinux.com/u-boot/kernel-booting</li>
<li><a href="http://www.thedirks.org/v4l2/v4l2fmt.htm">V4L2 Video Image Format Specification</a>: http://www.thedirks.org/v4l2/v4l2fmt.htm</li>
<li><a href="http://www.twm-kd.com/linux/webcam-and-linux-gstreamer-tutorial/">http://www.twm-kd.com/linux/webcam-and-linux-gstreamer-tutorial/</a></li>
<li><a href="http://www.twm-kd.com/linux/webcam-and-linux-gstreamer-tutorial/">Webcam and Linux - GStreamer tutorial | Three Wise Men</a>: http://www.twm-kd.com/linux/webcam-and-linux-gstreamer-tutorial/</li>
<li><a href="http://www.videolan.org/doc/streaming-howto/en/ch02.html">http://www.videolan.org/doc/streaming-howto/en/ch02.html</a></li>
<li><a href="http://www.videotechnology.com/">http://www.videotechnology.com/</a></li>
<li><a href="http://www.wiki.xilinx.com/Boot+Pre-Built+Avnet+ZedBoard+Image">Xilinx Wiki - Boot Pre-Built Avnet ZedBoard Image</a>: http://www.wiki.xilinx.com/Boot+Pre-Built+Avnet+ZedBoard+Image</li>
<li><a href="http://www.wiki.xilinx.com/Build+and+Modify+a+Rootfs">Xilinx Wiki - Build and Modify a Rootfs</a>: http://www.wiki.xilinx.com/Build+and+Modify+a+Rootfs</li>
<li><a href="http://www.wiki.xilinx.com/Build+Device+Tree+Blob">http://www.wiki.xilinx.com/Build+Device+Tree+Blob</a></li>
<li><a href="http://www.wiki.xilinx.com/Build+FSBL">Xilinx Wiki - Build FSBL</a>: http://www.wiki.xilinx.com/Build+FSBL</li>
<li><a href="http://www.wiki.xilinx.com/Build+U-Boot">Xilinx Wiki - Build U-Boot</a>: http://www.wiki.xilinx.com/Build+U-Boot</li>
<li><a href="http://www.wiki.xilinx.com/CAN4Linux">http://www.wiki.xilinx.com/CAN4Linux</a></li>
<li><a href="http://www.wiki.xilinx.com/Getting+Started">Xilinx Wiki - Getting Started</a>: http://www.wiki.xilinx.com/Getting+Started</li>
<li><a href="http://www.wiki.xilinx.com/Install+Xilinx+Tools">Xilinx Wiki - Install Xilinx Tools</a>: http://www.wiki.xilinx.com/Install+Xilinx+Tools</li>
<li><a href="http://www.wiki.xilinx.com/Linux+GPIO+Driver">http://www.wiki.xilinx.com/Linux+GPIO+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Multi-OS+Support+%28AMP+%26+Hypervisor%29">http://www.wiki.xilinx.com/Multi-OS+Support+%28AMP+%26+Hypervisor%29</a></li>
<li><a href="http://www.wiki.xilinx.com/PetaLinux">Xilinx Wiki - PetaLinux</a>: http://www.wiki.xilinx.com/PetaLinux</li>
<li><a href="http://www.wiki.xilinx.com/Prepare+boot+image">Xilinx Wiki - Prepare boot image</a>: http://www.wiki.xilinx.com/Prepare+boot+image</li>
<li><a href="http://www.wiki.xilinx.com/Prepare+Boot+Image">Xilinx Wiki - Prepare Boot Image</a>: http://www.wiki.xilinx.com/Prepare+Boot+Image</li>
<li><a href="http://www.wiki.xilinx.com/QEMU">Xilinx Wiki - QEMU</a>: http://www.wiki.xilinx.com/QEMU</li>
<li><a href="http://www.wiki.xilinx.com/Yocto">Xilinx Wiki - Yocto</a>: http://www.wiki.xilinx.com/Yocto</li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">http://www.wiki.xilinx.com/Zynq+Linux</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA">http://www.wiki.xilinx.com/Zynq+Linux+pl330+DMA</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver">http://www.wiki.xilinx.com/Zynq+Linux+USB+Device+Driver</a></li>
<li><a href="http://www.wiki.xilinx.com/Zynq+Linux">Xilinx Wiki - Zynq Linux</a>: http://www.wiki.xilinx.com/Zynq+Linux</li>
<li><a href="http://www.xilinx.com/esp/video/refdes_listing.htm">http://www.xilinx.com/esp/video/refdes_listing.htm</a></li>
<li><a href="http://www.xilinx.com/ipcenter/axi4.htm">http://www.xilinx.com/ipcenter/axi4.htm</a></li>
<li><a href="http://www.xilinx.com/products/design-tools/ise-design-suite/">http://www.xilinx.com/products/design-tools/ise-design-suite/</a></li>
<li><a href="http://www.xilinx.com/products/intellectual-property/axi_fifo.htm">http://www.xilinx.com/products/intellectual-property/axi_fifo.htm</a></li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/</a></li>
<li><a href="http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm">http://www.xilinx.com/products/silicon-devices/soc/zynq-7000/index.htm</a></li>
<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx11/SDK_doc/getting_started/sdk_getting_started.htm">http://www.xilinx.com/support/documentation/sw_manuals/xilinx11/SDK_doc/getting_started/sdk_getting_started.htm</a></li>
<li><a href="http://www.xilinx.com/support/download/index.htm">Xilinx Downloads</a>: http://www.xilinx.com/support/download/index.htm</li>
<li><a href="http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/axi_external_memory_controller.html">http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/axi_external_memory_controller.html</a></li>
<li><a href="http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/channelized_direct_memory_access_and_scatter_gather.html">http://www.xilinx.com/support/index.html/content/xilinx/en/supportNav/ip_documentation/embedded_processing/memory_interface/channelized_direct_memory_access_and_scatter_gather.html</a></li>
<li><a href="http://www.xilinx.com/tools/platform.htm">http://www.xilinx.com/tools/platform.htm</a></li>
<li><a href="http://www.xilinx.com/tools/xps.htm">http://www.xilinx.com/tools/xps.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm">http://www.xilinx.com/training/zynq/hardware-software-cross-trigger-for-embedded-design.htm</a></li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm">Xilinx® Training : How to Build a Linux Boot Image for the Zynq-7000 AP SoC</a>: http://www.xilinx.com/training/zynq/how-to-build-a-linux-boot-image-for-the-zynq-7000-ap-soc.htm</li>
<li><a href="http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm">http://www.xilinx.com/training/zynq/how-to-debug-a-linux-application-using-xilinx-sdk.htm</a></li>
<li><a href="http://www.xiph.org/">http://www.xiph.org/</a></li>
<li><a href="http://www.yoctoproject.org/docs/1.6/adt-manual/adt-manual.html">Yocto Project Application Developer's Guide</a>: http://www.yoctoproject.org/docs/1.6/adt-manual/adt-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/1.6/bsp-guide/bsp-guide.html">Yocto Project Board Support Package Developer's Guide</a>: http://www.yoctoproject.org/docs/1.6/bsp-guide/bsp-guide.html</li>
<li><a href="http://www.yoctoproject.org/docs/1.6/ref-manual/ref-manual.html">Yocto Project Reference Manual</a>: http://www.yoctoproject.org/docs/1.6/ref-manual/ref-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/dev-manual/dev-manual.html">Yocto Project Development Manual</a>: http://www.yoctoproject.org/docs/current/dev-manual/dev-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/kernel-dev/kernel-dev.html">Yocto Project Linux Kernel Development Manual</a>: http://www.yoctoproject.org/docs/current/kernel-dev/kernel-dev.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html">Yocto Project Reference Manual</a>: http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/yocto-project-qs/yocto-project-qs.html">Yocto Project Quick Start</a>: http://www.yoctoproject.org/docs/current/yocto-project-qs/yocto-project-qs.html</li>
<li><a href="http://www.yoctoproject.org/docs/latest/poky-ref-manual/poky-ref-manual.html">Yocto Project Reference Manual / Poky</a>: http://www.yoctoproject.org/docs/latest/poky-ref-manual/poky-ref-manual.html</li>
<li><a href="http://www.zedboard.org/content/booting-larger-image">Booting up with larger image | Zedboard</a>: http://www.zedboard.org/content/booting-larger-image</li>
<li><a href="http://www.zedboard.org/content/documentation">Documentation | Zedboard</a>: http://www.zedboard.org/content/documentation</li>
<li><a href="http://www.zedboard.org/content/error-while-walking-through-reference-design">Error while walking through a Reference Design | Zedboard</a>: http://www.zedboard.org/content/error-while-walking-through-reference-design</li>
<li><a href="http://www.zedboard.org/content/u-boot-kernel-microzed-board">u-boot & kernel for microZed board | Zedboard</a>: http://www.zedboard.org/content/u-boot-kernel-microzed-board</li>
<li><a href="http://www.zedboard.org/content/update-hdmi-test-project">http://www.zedboard.org/content/update-hdmi-test-project</a></li>
<li><a href="http://www.zedboard.org/content/using-xilinx-sdk-build-bootbin">using Xilinx SDK to build BOOT.bin | Zedboard</a>: http://www.zedboard.org/content/using-xilinx-sdk-build-bootbin</li>
<li><a href="http://www.zedboard.org/content/video-streaming-over-ethernet-microzed">Video Streaming over ethernet on Microzed | Zedboard</a>: http://www.zedboard.org/content/video-streaming-over-ethernet-microzed</li>
<li><a href="http://www.zedboard.org/zh-hant/node/474">Boot Problem | Zedboard</a>: http://www.zedboard.org/zh-hant/node/474</li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-linux">Zynq Linux - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-linux</li>
<li><a href="http://xilinx.lzu.edu.cn/zynq-qemu">QEMU on Zynq - Xilinx Open Source Wiki</a>: http://xilinx.lzu.edu.cn/zynq-qemu</li>
<li><a href="http://xillybus.com/tutorials">Tutorials | xillybus.com</a>: http://xillybus.com/tutorials</li>
<li><a href="http://xillybus.com/xillinux/">Xillinux: A Linux distribution for Zedboard, ZyBo, MicroZed and SocKit | xillybus.com</a>: http://xillybus.com/xillinux/</li>
<li><a href="http://zedboard.org/content/creating-custom-peripheral">Creating a custom peripheral | Zedboard</a>: http://zedboard.org/content/creating-custom-peripheral</li>
<li><a href="http://zedboard.org/content/creating-custom-peripheral">http://zedboard.org/content/creating-custom-peripheral</a></li>
<li><a href="http://zedboard.org/content/modify-your-boot-image-your-zedboard">http://zedboard.org/content/modify-your-boot-image-your-zedboard</a></li>
<li><a href="http://zedboard.org/content/qemu-deep-dive-0">QEMU - Deep Dive | Zedboard</a>: http://zedboard.org/content/qemu-deep-dive-0</li>
<li><a href="http://zedboard.org/content/qemu">QEMU | Zedboard</a>: http://zedboard.org/content/qemu</li>
<li><a href="http://zedboard.org/content/talking-custom-peripheral-bare-metal">Talking to a custom peripheral (bare metal) | Zedboard</a>: http://zedboard.org/content/talking-custom-peripheral-bare-metal</li>
<li><a href="http://zedboard.org/content/xilinx-tools-install-and-license-howto">Xilinx tools install and license howto | Zedboard</a>: http://zedboard.org/content/xilinx-tools-install-and-license-howto</li>
<li><a href="http://zedboard.org/content/zedboard-create-planahead-project-embedded-processor">http://zedboard.org/content/zedboard-create-planahead-project-embedded-processor</a></li>
<li><a href="http://zedboard.org/content/zedboard-modifying-your-ram-disk-image">Zedboard - Modifying Your Ram Disk Image | Zedboard</a>: http://zedboard.org/content/zedboard-modifying-your-ram-disk-image</li>
<li><a href="http://zedboard.org/sites/default/files/blogger_importer/03/compiling-qemu-and-zynq-linux.html">Zynq Geek: Compiling qemu and zynq-linux</a>: http://zedboard.org/sites/default/files/blogger_importer/03/compiling-qemu-and-zynq-linux.html</li>
<li><a href="http://zedboard.org/sites/default/files/blogger_importer/03/qemu.html">Zynq Geek: QEMU</a>: http://zedboard.org/sites/default/files/blogger_importer/03/qemu.html</li>
<li><a href="www.wiki.xilinx.com/Linux+Drivers?responseToken=030b9ad3e65078a1549f375e770812dcc">www.wiki.xilinx.com/Linux+Drivers?responseToken=030b9ad3e65078a1549f375e770812dcc</a></li>
<li><a href="zedboard.org/content/zedboard-modifying-your-ram-disk-image">zedboard.org/content/zedboard-modifying-your-ram-disk-image</a></li>
