<li><a href="http://architechboards-yocto.readthedocs.org/en/latest/opkg.html">Opkg Basics — pengwyn-sdk 1.0.0 documentation</a>: http://architechboards-yocto.readthedocs.org/en/latest/opkg.html</li>
<li><a href="http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293">Freescale OpenEmbedded/Yocto Layers discussion list ()</a>: http://comments.gmane.org/gmane.linux.embedded.yocto.meta-freescale/5293</li>
<li><a href="http://elinux.org/Yocto_Project_Introduction">Yocto Project Introduction - eLinux.org</a>: http://elinux.org/Yocto_Project_Introduction</li>
<li><a href="http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/">/conf/machine/boards/zedboard/</a>: http://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx/plain/conf/machine/boards/zedboard/</li>
<li><a href="http://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads">poky - Poky Build Tool and Metadata</a>: http://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads</li>
<li><a href="http://gumstix.org/software-development/yocto-project.html">gumstix.org - Yocto Project and Bitbake</a>: http://gumstix.org/software-development/yocto-project.html</li>
<li><a href="http://maniacbug.wordpress.com/2012/08/03/yocto/">Getting Started with OpenEmbedded using Yocto | maniacbug</a>: http://maniacbug.wordpress.com/2012/08/03/yocto/</li>
<li><a href="https://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads">poky - Poky Build Tool and Metadata</a>: https://git.yoctoproject.org/cgit/cgit.cgi/poky/refs/heads</li>
<li><a href="https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html">[meta-xilinx] bitbaked u-boot on zedboard</a>: https://lists.yoctoproject.org/pipermail/meta-xilinx/2013-October/000224.html</li>
<li><a href="https://lists.yoctoproject.org/pipermail/yocto/2012-December/011007.html">[yocto] bitbake -c devshell option</a>: https://lists.yoctoproject.org/pipermail/yocto/2012-December/011007.html</li>
<li><a href="https://wiki.yoctoproject.org/wiki/How_do_I">How do I - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/How_do_I</li>
<li><a href="https://wiki.yoctoproject.org/wiki/Recipe_%26_Patch_Style_Guide">Recipe & Patch Style Guide - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/Recipe_%26_Patch_Style_Guide</li>
<li><a href="https://wiki.yoctoproject.org/wiki/Releases">Releases - Yocto Project</a>: https://wiki.yoctoproject.org/wiki/Releases</li>
<li><a href="https://www.yoctoproject.org/documentation/build-appliance-manual">Build Appliance Manual | Yocto Project</a>: https://www.yoctoproject.org/documentation/build-appliance-manual</li>
<li><a href="http://www.jumpnowtek.com/index.php?option=com_content&view=article&id=85&Itemid=97">Building small board systems with the Yocto Project</a>: http://www.jumpnowtek.com/index.php?option=com_content&view=article&id=85&Itemid=97</li>
<li><a href="http://www.rocketboards.org/foswiki/Documentation/AlteraSoCDevelopmentBoardYoctoGettingStarted">Linux Getting Started on Altera SoC Development Board - Using Yocto Source Package · Documentation · RocketBoards.org</a>: http://www.rocketboards.org/foswiki/Documentation/AlteraSoCDevelopmentBoardYoctoGettingStarted</li>
<li><a href="http://www.wiki.xilinx.com/Yocto">Xilinx Wiki - Yocto</a>: http://www.wiki.xilinx.com/Yocto</li>
<li><a href="http://www.yoctoproject.org/docs/1.6/adt-manual/adt-manual.html">Yocto Project Application Developer's Guide</a>: http://www.yoctoproject.org/docs/1.6/adt-manual/adt-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/1.6/bsp-guide/bsp-guide.html">Yocto Project Board Support Package Developer's Guide</a>: http://www.yoctoproject.org/docs/1.6/bsp-guide/bsp-guide.html</li>
<li><a href="http://www.yoctoproject.org/docs/1.6/ref-manual/ref-manual.html">Yocto Project Reference Manual</a>: http://www.yoctoproject.org/docs/1.6/ref-manual/ref-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/dev-manual/dev-manual.html">Yocto Project Development Manual</a>: http://www.yoctoproject.org/docs/current/dev-manual/dev-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/kernel-dev/kernel-dev.html">Yocto Project Linux Kernel Development Manual</a>: http://www.yoctoproject.org/docs/current/kernel-dev/kernel-dev.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html">Yocto Project Reference Manual</a>: http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html</li>
<li><a href="http://www.yoctoproject.org/docs/current/yocto-project-qs/yocto-project-qs.html">Yocto Project Quick Start</a>: http://www.yoctoproject.org/docs/current/yocto-project-qs/yocto-project-qs.html</li>
<li><a href="http://www.yoctoproject.org/docs/latest/poky-ref-manual/poky-ref-manual.html">Yocto Project Reference Manual / Poky</a>: http://www.yoctoproject.org/docs/latest/poky-ref-manual/poky-ref-manual.html</li>
